<div class="row" ng-controller="FinansialStatusCtrl">

    <div class="col-md-12">




        <md-content layout="column" flex class="custom__md-content__categ">




            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">{{ 'FINANSIAL_STATUS' | translate }}</h3>

                    </div>

                </div>

            </md-card>



            <md-card>


                <div class="row" style="margin-left: 0;margin-top: 10px;">


                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label style="color: black">{{ 'SEARCH' | translate }}</label>
                            <input type="search" ng-model="search">
                        </md-input-container>


                    </div>


                </div>


                <div class="row" style="    margin-left: -5px;
    margin-top: -25px;
    margin-bottom: 25px;">
                    <div class="col-md-12">
                        <md-button class="md-raised md-primary" ng-click="addBtn()">{{ 'ADD_ROW' | translate }}</md-button>
                        <md-button class="md-raised md-primary" ng-click="excel()">{{ 'EXPORT_EXCEL' | translate }}</md-button>

                    </div>

                </div>






                <div class="row" style="margin-left: 5px;margin-right: 5px;">
                    <div class="col-md-12 table-responsive">

                        <style type="text/css">
                            .tg  {border-collapse:collapse;border-spacing:0;width: 100%}
                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg .tg-hgcj{font-weight:bold;text-align:center}
                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                            .tg .tg-baqh{text-align:center;vertical-align:middle}
                        </style>
                        <table class="tg table-striped">
                            <tr>
                                <th class="tg-hgcj" rowspan="2">№</th>
                                <th class="tg-hgcj" rowspan="2">Страна</th>
                                <th class="tg-hgcj" rowspan="2">Период</th>
                                <th class="tg-hgcj" colspan="3">Планирование бюджета</th>
                                <th class="tg-amwm" colspan="3">Сервис</th>
                                <th class="tg-amwm" colspan="3">Кредитная линия</th>
                                <th class="tg-amwm" colspan="3">Операционные расходы</th>
                                <th class="tg-hgcj" rowspan="2">Сохранить</th>
                                <th class="tg-hgcj" rowspan="2">Удалить</th>
                            </tr>
                            <tr>
                                <td class="tg-amwm">План</td>
                                <td class="tg-amwm">Факт</td>
                                <td class="tg-amwm">Комментарий</td>
                                <td class="tg-amwm">План</td>
                                <td class="tg-amwm">Факт</td>
                                <td class="tg-amwm">Комментарий</td>
                                <td class="tg-amwm">План</td>
                                <td class="tg-amwm">Факт</td>
                                <td class="tg-amwm">Комментарий</td>
                                <td class="tg-amwm">План</td>
                                <td class="tg-amwm">Факт</td>
                                <td class="tg-amwm">Комментарий</td>
                            </tr>




                            <tbody>





                            <tr class="tg-baqh" ng-repeat="data in data | filter:search">





                                <td>{{data.id}}</td>



                                <td>

                                    <select style="width: 150px" ng-model="data.country" ng-options="y._id as y.name for y in data.allCountrys">
                                    </select>

                                </td>


                                <td><input type="text" value="{{data.nameQuarter}}" ng-model="data.nameQuarter"></td>




                                <td><input class="custom__threeteen__digits" type="text" value="{{data.BudgetBisbursementPlan}}" ng-model="data.BudgetBisbursementPlan"></td>
                                <td><input class="custom__threeteen__digits" type="text" value="{{data.BudgetBisbursementFact}}" ng-model="data.BudgetBisbursementFact"></td>
                                <td><input type="text" value="{{data.BudgetBisbursementComment}}" ng-model="data.BudgetBisbursementComment"></td>


                                <td><input class="custom__threeteen__digits" type="text" value="{{data.ServicesPlan}}" ng-model="data.ServicesPlan"></td>
                                <td><input class="custom__threeteen__digits" type="text" value="{{data.ServicesFact}}" ng-model="data.ServicesFact"></td>
                                <td><input type="text" value="{{data.ServicesComment}}" ng-model="data.ServicesComment"></td>


                                <td><input class="custom__threeteen__digits" type="text" value="{{data.CreditLinePlan}}" ng-model="data.CreditLinePlan"></td>
                                <td><input class="custom__threeteen__digits" type="text" value="{{data.CreditLineFact}}" ng-model="data.CreditLineFact"></td>
                                <td><input type="text" value="{{data.CreditLineComment}}" ng-model="data.CreditLineComment"></td>



                                <td><input class="custom__threeteen__digits" type="text" value="{{data.OperatingExpensesPlan}}" ng-model="data.OperatingExpensesPlan"></td>
                                <td><input class="custom__threeteen__digits" type="text" value="{{data.OperatingExpensesFact}}" ng-model="data.OperatingExpensesFact"></td>
                                <td><input type="text" value="{{data.OperatingExpensesComment}}" ng-model="data.OperatingExpensesComment"></td>




                                <td><i class="material-icons" ng-click="saveBtn(data)">done_all</i></td>

                                <td><i class="material-icons" ng-click="delete(data._id, $index)">delete</i></td>


                            </tr>
                            </tbody>








                        </table>

                    </div>

                </div>








            </md-card>











        </md-content>


















    </div>


</div>