<div class="row" ng-controller="FinansialStatusCtrl">

    <div class="col-md-12">




        <md-content layout="column" flex class="custom__md-content__categ">

            <md-card>



                <md-toolbar class="md-table-toolbar md-default">


                    <div class="md-toolbar-tools">


                        <h3>{{ 'FINANSIAL_STATUS' | translate }}</h3>


                    </div>


                    <div class="md-toolbar-tools">


                        <input type="text" ng-model="search" placeholder="{{ 'SEARCH' | translate }}" class="custom__search__input">


                    </div>

                    <div class="md-toolbar-tools">


                        <button class="btn btn-primary" ng-click="addBtn()">{{ 'ADD_ROW' | translate }}</button>
                        <button class="btn btn-primary" ng-click="excel()">{{ 'EXPORT_EXCEL' | translate }}</button>


                    </div>

                </md-toolbar>

                <!-- exact table from live demo -->
                <md-table-container class="custom__fix__freez__head">



                    <colgroup span="1"></colgroup>
                    <colgroup span="1"></colgroup>
                    <colgroup span="1"></colgroup>


                    <colgroup span="3"></colgroup>
                    <colgroup span="3"></colgroup>
                    <colgroup span="3"></colgroup>
                    <colgroup span="3"></colgroup>
                    <colgroup span="1"></colgroup>
                    <colgroup span="1"></colgroup>

                    <table md-table ng-model="ctrl.selected">
                        <thead md-head fix-head>
                        <tr md-row>

                            <th md-column colspan="1" scope="colgroup"></th>
                            <th md-column colspan="1" scope="colgroup"></th>
                            <th md-column colspan="1" scope="colgroup"></th>

                            <th md-column colspan="3" scope="colgroup" class="custom__border__group">{{ 'PLANNING_BUDGET' | translate }}</th>
                            <th md-column colspan="3" scope="colgroup" class="custom__border__group">{{ 'SERVICE' | translate }}</th>
                            <th md-column colspan="3" scope="colgroup" class="custom__border__group">{{ 'CREDIT_LINE' | translate }}</th>
                            <th md-column colspan="3" scope="colgroup" class="custom__border__group">{{ 'OPERAC_CURRENCY' | translate }}</th>

                            <th md-column colspan="1" scope="colgroup"></th>
                            <th md-column colspan="1" scope="colgroup"></th>



                        </tr>

                        <tr md-row style="border-bottom: 1px solid black">



                            <th md-column class="custom__border__group">№</th>
                            <th md-column class="custom__border__group">{{ 'COUNTRY' | translate }}</th>
                            <th md-column class="custom__border__group">{{ 'PERIOD' | translate }}</th>

                            <th md-column>{{ 'PLAN' | translate }}</th>
                            <th md-column>{{ 'FACT' | translate }}</th>
                            <th md-column class="custom__border__right__group">{{ 'COMMENTS' | translate }}</th>


                            <th md-column>{{ 'PLAN' | translate }}</th>
                            <th md-column>{{ 'FACT' | translate }}</th>
                            <th md-column class="custom__border__right__group">{{ 'COMMENTS' | translate }}</th>


                            <th md-column>{{ 'PLAN' | translate }}</th>
                            <th md-column>{{ 'FACT' | translate }}</th>
                            <th md-column class="custom__border__right__group">{{ 'COMMENTS' | translate }}</th>


                            <th md-column>{{ 'PLAN' | translate }}</th>
                            <th md-column>{{ 'FACT' | translate }}</th>
                            <th md-column class="custom__border__right__group">{{ 'COMMENTS' | translate }}</th>



                            <th md-column class="custom__border__group">{{ 'REFRESH' | translate }}</th>
                            <th md-column class="custom__border__group">{{ 'DELETE' | translate }}</th>


                        </tr>



                        </thead>
                        <tbody md-body>





                        <tr md-row md-select="data" md-select-id="id" md-auto-select ng-repeat="data in data | filter:search">





                            <td md-cell>{{data.id}}</td>



                            <td md-cell>

                                <select ng-model="data.country" ng-options="y._id as y.name for y in data.allCountrys">
                                </select>

                            </td>


                            <td md-cell>{{data.nameQuarter}}</td>




                            <td md-cell><input class="custom__threeteen__digits" type="text" value="{{data.BudgetBisbursementPlan}}" ng-model="data.BudgetBisbursementPlan"></td>
                            <td md-cell><input class="custom__threeteen__digits" type="text" value="{{data.BudgetBisbursementFact}}" ng-model="data.BudgetBisbursementFact"></td>
                            <td md-cell><input type="text" value="{{data.BudgetBisbursementComment}}" ng-model="data.BudgetBisbursementComment"></td>


                            <td md-cell><input class="custom__threeteen__digits" type="text" value="{{data.ServicesPlan}}" ng-model="data.ServicesPlan"></td>
                            <td md-cell><input class="custom__threeteen__digits" type="text" value="{{data.ServicesFact}}" ng-model="data.ServicesFact"></td>
                            <td md-cell><input type="text" value="{{data.ServicesComment}}" ng-model="data.ServicesComment"></td>


                            <td md-cell><input class="custom__threeteen__digits" type="text" value="{{data.CreditLinePlan}}" ng-model="data.CreditLinePlan"></td>
                            <td md-cell><input class="custom__threeteen__digits" type="text" value="{{data.CreditLineFact}}" ng-model="data.CreditLineFact"></td>
                            <td md-cell><input type="text" value="{{data.CreditLineComment}}" ng-model="data.CreditLineComment"></td>



                            <td md-cell><input class="custom__threeteen__digits" type="text" value="{{data.OperatingExpensesPlan}}" ng-model="data.OperatingExpensesPlan"></td>
                            <td md-cell><input class="custom__threeteen__digits" type="text" value="{{data.OperatingExpensesFact}}" ng-model="data.OperatingExpensesFact"></td>
                            <td md-cell><input type="text" value="{{data.OperatingExpensesComment}}" ng-model="data.OperatingExpensesComment"></td>




                            <td md-cell><i class="material-icons" ng-click="saveBtn(data)">done_all</i></td>

                            <td md-cell><i class="material-icons" ng-click="delete(data._id, $index)">delete</i></td>


                        </tr>
                        </tbody>
                    </table>
                </md-table-container>





            </md-card>


        </md-content>


















    </div>


</div>