<div class="row" ng-controller="AdminCtrl">

    <div class="col-md-12">




        <md-content layout="column" flex class="custom__md-content__categ">




            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">{{ 'ADMIN_LIST' | translate }}</h3>

                    </div>

                </div>

            </md-card>



            <md-card>


                <div class="row" style="margin-left: 0;margin-top: 10px;">


                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label style="color: black">{{ 'SEARCH' | translate }}</label>
                            <input type="search" ng-model="search">
                        </md-input-container>


                    </div>


                </div>


                <div class="row" style="    margin-left: -5px;
    margin-top: -25px;
    margin-bottom: 25px;">
                     <div class="col-md-12">
                         <md-button class="md-raised md-primary" ng-click="addBtn($event)">{{ 'ADD_ROW' | translate }}</md-button>

                     </div>

                </div>






                <div class="row" style="margin-left: 5px;margin-right: 5px;">
                    <div class="col-md-12 table-responsive">


                        <style type="text/css">
                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg .tg-hgcj{font-weight:bold;text-align:center; vertical-align:middle}
                            .tg .tg-baqh{text-align:center;vertical-align:middle}
                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:middle}


                        </style>
                        <table class="tg table-striped">
                            <tr>
                                <th class="tg-hgcj">№</th>
                                <th class="tg-hgcj">{{ 'FIO' | translate }}</th>
                                <th class="tg-hgcj">{{ 'ROLE' | translate }}</th>
                                <th class="tg-amwm">{{ 'COUNTRY' | translate }}</th>
                                <th class="tg-amwm">Email</th>
                                <th class="tg-amwm">{{ 'PHOTO' | translate }}</th>
                                <th class="tg-amwm">{{ 'DATE_CREATE' | translate }}</th>
                                <th class="tg-amwm">{{ 'REFRESH' | translate }}</th>
                                <th class="tg-amwm">{{ 'DELETE' | translate }}</th>
                                <th class="tg-amwm">{{ 'REMEMBER_PASS' | translate }}</th>
                            </tr>


                            <tbody>


                            <tr ng-repeat="data in data | filter:search">





                                <td class="tg-baqh">{{$index+1}}</td>

                                <td class="tg-baqh">{{data.fio}}</td>

                                <td class="tg-baqh">

                                    <select disabled ng-model="data.role" ng-options="x._id as x.name for x in data.allRoles">
                                    </select>

                                </td>

                                <td class="tg-baqh">

                                    <select style="width: 100px" disabled ng-model="data.country" ng-options="y._id as y.name for y in data.allCountrys">
                                    </select>

                                </td>

                                <td class="tg-baqh">{{data.email}}</td>
                                <td class="tg-baqh"><img ng-src="{{data.urlImg}}" height="50" width="50"></td>





                                <td class="tg-baqh">{{data.createAt | date : "dd.MM.y"}}</td>


                                <td class="tg-baqh"><i class="material-icons" ng-click="saveBtn(data, $event)">done_all</i></td>

                                <td class="tg-baqh"><i class="material-icons" ng-click="delete(data._id, $index)">delete</i></td>

                                <td class="tg-baqh"><i class="material-icons" ng-click="recoverpass(data._id)">lock_open</i></td>

                            </tr>



                            </tbody>


                        </table>



                    </div>

                </div>








            </md-card>


</md-content>







    </div>


</div>