<div class="row" ng-controller="AdminCtrl">

    <div class="col-md-12">




        <md-content layout="column" flex class="custom__md-content__categ">

            <md-card>



                <md-toolbar class="md-table-toolbar md-default">


                    <div class="md-toolbar-tools">


                        <h3>Список администраторов</h3>


                    </div>


                    <div class="md-toolbar-tools">


                                <input type="text" ng-model="search" placeholder="Поиск..." class="custom__search__input">


                    </div>

                    <div class="md-toolbar-tools">


                        <button class="btn btn-primary" ng-click="addBtn($event)">Добавить запись</button>


                    </div>

                </md-toolbar>

                <!-- exact table from live demo -->
                <md-table-container class="custom__fix__freez__head">
                    <table md-table ng-model="ctrl.selected">
                        <thead md-head fix-head class="custom__border__group__all">
                        <tr md-row>

                            <th md-column class="custom__border__right__group">№</th>
                            <th md-column class="custom__border__right__group">ФИО</th>
                            <th md-column class="custom__border__right__group">Роль</th>
                            <th md-column class="custom__border__right__group">Страна</th>
                            <th md-column class="custom__border__right__group">Email</th>
                            <th md-column class="custom__border__right__group">Фото</th>
                            <th md-column class="custom__border__right__group">Дата создания</th>
                            <th md-column class="custom__border__right__group">Обновить</th>
                            <th md-column class="custom__border__right__group">Удалить</th>
                            <th md-column>Напомнить пароль</th>
                        </tr>
                        </thead>
                        <tbody md-body>





                        <tr md-row md-select="data" md-select-id="id" md-auto-select ng-repeat="data in data | filter:search">





                            <td md-cell>{{data.id}}</td>

                            <td md-cell>{{data.fio}}</td>

                            <td md-cell>

                                <select disabled ng-model="data.role" ng-options="x._id as x.name for x in data.allRoles">
                                </select>

                            </td>

                            <td md-cell>

                                <select disabled ng-model="data.country" ng-options="y._id as y.name for y in data.allCountrys">
                                </select>

                            </td>

                            <td md-cell>{{data.email}}</td>
                            <td md-cell><img ng-src="{{data.urlImg}}" height="50" width="50"></td>





                            <td md-cell>{{data.createAt | date : "dd.MM.y"}}</td>


                            <td md-cell><i class="material-icons" ng-click="saveBtn(data, $event)">done_all</i></td>

                            <td md-cell><i class="material-icons" ng-click="delete(data._id, $index)">delete</i></td>

                            <td md-cell><i class="material-icons" ng-click="recoverpass(data._id)">lock_open</i></td>

                        </tr>
                        </tbody>
                    </table>
                </md-table-container>





            </md-card>


</md-content>







    </div>


</div>