<div class="row" ng-controller="CreditsCtrl">

    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">




            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">{{ 'CREDITS' | translate }}</h3>

                    </div>

                </div>

            </md-card>



            <md-card>


                <div class="row" style="margin-left: 0;margin-top: 10px;">


                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label style="color: black">{{ 'SEARCH' | translate }}</label>
                            <input type="search" ng-model="search">
                        </md-input-container>


                    </div>


                </div>


                <div class="row" style="    margin-left: -5px;
    margin-top: -25px;
    margin-bottom: 25px;">
                    <div class="col-md-12">
                        <md-button class="md-raised md-primary" ng-click="addBtn()">{{ 'ADD_ROW' | translate }}</md-button>
                        <md-button class="md-raised md-primary" ng-click="excel()">{{ 'EXPORT_EXCEL' | translate }}</md-button>

                    </div>

                </div>






                <div class="row" style="margin-left: 5px;margin-right: 5px;">
                    <div class="col-md-12 table-responsive">


                        <style type="text/css">
                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg .tg-e3zv{font-weight:bold}
                            .tg .tg-baqh{text-align:center;vertical-align:middle}
                            .tg .tg-hgcj{font-weight:bold;text-align:center}
                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                            .tg .tg-9hbo{font-weight:bold;vertical-align:top}
                        </style>
                        <table class="tg table-striped">
                            <tr>
                                <th class="tg-hgcj" rowspan="2">№</th>
                                <th class="tg-hgcj" rowspan="2">{{ 'CATEG_CREDITS' | translate }}</th>
                                <!--<th class="tg-hgcj" rowspan="2">{{ 'COUNT_SUBPROJECT' | translate }}</th>-->
                                <th class="tg-hgcj" rowspan="2">{{ 'COUNTRY' | translate }}</th>
                                <th class="tg-hgcj" colspan="2">{{ 'OVERALL_VOLUME' | translate }}</th>


                                <th class="tg-hgcj" colspan="3">{{ 'DIRECT_BENEFICIARIES' | translate }}</th>



                                <th class="tg-hgcj" colspan="3">{{ 'DIRECT_BENEFICIARIES_WORKERS' | translate }}</th>



                                <th class="tg-hgcj" colspan="2">{{ 'GENERATED_CAPACITIES' | translate }}</th>
                                <th class="tg-hgcj" rowspan="2">{{ 'DATE_CREATE' | translate }}</th>
                                <th class="tg-hgcj" rowspan="2">{{ 'SAVE' | translate }}</th>
                                <th class="tg-e3zv" rowspan="2">{{ 'DELETE' | translate }}</th>
                            </tr>
                            <tr>
                                <td class="tg-amwm">$</td>
                                <td class="tg-amwm">{{ 'NACCURRENCY' | translate }}</td>
                                <td class="tg-hgcj">{{ 'MAN' | translate }}</td>
                                <td class="tg-hgcj">{{ 'WOMAN' | translate }}</td>
                                <td class="tg-hgcj">{{ 'ALL' | translate }}</td>
                                <td class="tg-hgcj">{{ 'MAN' | translate }}</td>
                                <td class="tg-hgcj">{{ 'WOMAN' | translate }}</td>
                                <td class="tg-hgcj">{{ 'ALL' | translate }}</td>

                                <td class="tg-hgcj">{{ 'MAN' | translate }}</td>
                                <td class="tg-hgcj">{{ 'WOMAN' | translate }}</td>
                            </tr>





                            <tbody>

                            <tr class="tg-baqh" ng-repeat="data in data | filter:search">





                                <td>{{data.id}}</td>




                                <td>


                                    <md-select class="custom__select__credit__table" ng-model="data.categcredits"
                                               md-on-close="clearSearchTerm()"
                                               data-md-container-class="selectdemoSelectHeader"
                                    >
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="dataCtrl.newFact"
                                                   ng-keyup='createNewFact($event)'
                                                   ng-keydown="$event.stopPropagation($event)"
                                                   type="text"
                                                   placeholder="{{ 'TYPE_HERE' | translate }}"
                                                   class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="fact._id" ng-repeat="fact in data.allCreditsFact">{{fact.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>



                                </td>




                                <!--<td><input class="custom__dual__digits" type="text" value="{{data.countsubproject}}" ng-model="data.countsubproject"></td>-->


                                <td>

                                    <select class="custom__select__credit__table" ng-model="data.country" ng-options="y._id as y.name for y in data.allCountrys">
                                    </select>

                                </td>



                                <td><input type="text" class="custom__threeteen__digits" value="{{data.commonAmountInDollors}}" ng-model="data.commonAmountInDollors"></td>


                                <td><input type="text" class="custom__threeteen__digits" value="{{data.commonAmountInNatCurrency}}" ng-model="data.commonAmountInNatCurrency"></td>





                                <td><input class="custom__four__digits" type="text" value="{{data.DirectBeneficiariesMale}}" ng-model="data.DirectBeneficiariesMale"></td>


                                <td><input class="custom__four__digits" type="text" value="{{data.DirectBeneficiariesFemale}}" ng-model="data.DirectBeneficiariesFemale" ng-keyup="sumMaleFemale(data, $event)"></td>

                                <td><input class="custom__four__digits" type="text" value="{{data.DirectBeneficiariesAll}}" ng-model="data.DirectBeneficiariesAll" disabled></td>








                                <td><input class="custom__three__digits" type="text" value="{{data.NonDirectBeneficiariesMemberFamilyMale}}" ng-model="data.NonDirectBeneficiariesMemberFamilyMale"></td>



                                <td><input class="custom__three__digits" type="text" value="{{data.NonDirectBeneficiariesMemberFamilyFemale}}" ng-model="data.NonDirectBeneficiariesMemberFamilyFemale"></td>

                                <td><input class="custom__three__digits" type="text" value="{{data.NonDirectBeneficiariesMemberFamilyAll}}" ng-model="data.NonDirectBeneficiariesMemberFamilyAll"></td>











                                <td><input class="custom__three__digits" type="text" value="{{data.CreatePowerPlan}}" ng-model="data.CreatePowerPlan"></td>
                                <td><input class="custom__three__digits" type="text" value="{{data.CreatePowerFact}}" ng-model="data.CreatePowerFact"></td>




                                <td><md-datepicker ng-model="data.createAt" md-open-on-focus></md-datepicker></td>






                                <td><i class="material-icons" ng-click="saveBtn(data)">done_all</i></td>



                                <td><i class="material-icons" ng-click="delete(data._id, $index)">delete</i></td>


                            </tr>



                            </tbody>




                        </table>


                    </div>

                </div>








            </md-card>









        </md-content>




    </div>







</div>