<div class="row" ng-controller="CreditsCtrl">

    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">
            <md-card>

                <md-toolbar class="md-table-toolbar md-default">

                    <div class="md-toolbar-tools">


                        <h3>Кредиты</h3>


                    </div>


                    <div class="md-toolbar-tools">


                        <input type="text" ng-model="search" placeholder="Поиск..." class="custom__search__input">


                    </div>

                    <div class="md-toolbar-tools">


                        <button class="btn btn-primary" ng-click="addBtn()">Добавить запись</button>


                        <button class="btn btn-primary" ng-click="excel()">Выгрузить в Excel</button>


                    </div>

                </md-toolbar>


                <md-table-container class="custom__fix__freez__head">

                    <colgroup span="4"></colgroup>
                    <colgroup span="2"></colgroup>
                    <colgroup span="3"></colgroup>
                    <colgroup span="3"></colgroup>
                    <colgroup span="3"></colgroup>
                    <colgroup span="2"></colgroup>
                    <table md-table ng-model="ctrl.selected">
                        <thead md-head fix-head>
                        <tr md-row>

                            <th md-column colspan="4" scope="colgroup"></th>

                            <th md-column colspan="2" scope="colgroup" class="custom__border__group">Общий объем</th>
                            <th md-column colspan="3" scope="colgroup" class="custom__border__group">Прямые бенефециары <br>(заемщики+члены семьи+наёмные работники)</th>
                            <th md-column colspan="3" scope="colgroup" class="custom__border__group">Непрямые бенефециары <br> (члены семей)</th>
                            <th md-column colspan="3" scope="colgroup" class="custom__border__group">Непрямые бенефециары <br> (наемные работники)</th>
                            <th md-column colspan="2" scope="colgroup" class="custom__border__group">Создаваемые мощности <br>/Ожидаемый эффект</th>

                        </tr>


                        <tr md-row style="border-bottom: 1px solid black">

                            <th md-column class="custom__border__group">№</th>
                            <th md-column class="custom__border__right__group">Категория кредитов</th>
                            <th md-column class="custom__border__right__group">Кол-во <br> субпроектов</th>
                            <th md-column class="custom__border__right__group">Страна</th>




                            <th md-column class="custom__border__left__group">В долларах</th>
                            <th md-column class="custom__border__right__group">Нац. валюта</th>




                            <th md-column>Муж.</th>
                            <th md-column>Жен.</th>
                            <th md-column class="custom__border__right__group">Всего</th>



                            <th md-column>Муж.</th>
                            <th md-column>Жен.</th>
                            <th md-column class="custom__border__right__group">Всего</th>


                            <th md-column>Муж.</th>
                            <th md-column>Жен.</th>
                            <th md-column class="custom__border__right__group">Всего</th>

                            <th md-column>План Га</th>
                            <th md-column class="custom__border__right__group">Факт</th>
                            <th md-column class="custom__border__group">Сохранить</th>
                            <th md-column class="custom__border__group">Удалить</th>


                        </tr>





                        </thead>
                        <tbody md-body>





                        <tr md-row md-select="data" md-select-id="id" md-auto-select ng-repeat="data in data | filter:search">





                            <td md-cell>{{data.id}}</td>




                            <td md-cell>


                                <md-select ng-model="data.categcredits"
                                           md-on-close="clearSearchTerm()"
                                           data-md-container-class="selectdemoSelectHeader"
                                >
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="dataCtrl.newFact"
                                               ng-keyup='createNewFact($event)'
                                               ng-keydown="$event.stopPropagation($event)"
                                               type="text"
                                               placeholder="Напечатайте здесь и нажмите Enter"
                                               class="demo-header-searchbox md-text">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="fact._id" ng-repeat="fact in data.allCreditsFact">{{fact.name}}</md-option>
                                    </md-optgroup>
                                </md-select>



                            </td>




                            <td md-cell><input class="custom__dual__digits" type="text" value="{{data.countsubproject}}" ng-model="data.countsubproject"></td>


                            <td md-cell>

                                <select ng-model="data.country" ng-options="y._id as y.name for y in data.allCountrys">
                                </select>

                            </td>



                            <td md-cell><input type="text" class="custom__threeteen__digits" value="{{data.commonAmountInDollors}}" ng-model="data.commonAmountInDollors"></td>


                            <td md-cell><input type="text" class="custom__threeteen__digits" value="{{data.commonAmountInNatCurrency}}" ng-model="data.commonAmountInNatCurrency"></td>





                            <td md-cell><input class="custom__four__digits" type="text" value="{{data.DirectBeneficiariesMale}}" ng-model="data.DirectBeneficiariesMale"></td>


                            <td md-cell><input class="custom__four__digits" type="text" value="{{data.DirectBeneficiariesFemale}}" ng-model="data.DirectBeneficiariesFemale" ng-keyup="sumMaleFemale(data, $event)"></td>

                            <td md-cell><input class="custom__four__digits" type="text" value="{{data.DirectBeneficiariesAll}}" ng-model="data.DirectBeneficiariesAll" disabled></td>








                            <td md-cell><input class="custom__three__digits" type="text" value="{{data.NonDirectBeneficiariesMemberFamilyMale}}" ng-model="data.NonDirectBeneficiariesMemberFamilyMale"></td>



                            <td md-cell><input class="custom__three__digits" type="text" value="{{data.NonDirectBeneficiariesMemberFamilyFemale}}" ng-model="data.NonDirectBeneficiariesMemberFamilyFemale" ng-keyup="sumMaleFemale(data, $event)"></td>

                            <td md-cell><input class="custom__three__digits" type="text" value="{{data.NonDirectBeneficiariesMemberFamilyAll}}" ng-model="data.NonDirectBeneficiariesMemberFamilyAll" disabled></td>








                            <td md-cell><input class="custom__four__digits" type="text" value="{{data.NonDirectBeneficiariesHiredMale}}" ng-model="data.NonDirectBeneficiariesHiredMale"></td>



                            <td md-cell><input class="custom__four__digits" type="text" value="{{data.NonDirectBeneficiariesHiredFemale}}" ng-model="data.NonDirectBeneficiariesHiredFemale" ng-keyup="sumMaleFemale(data, $event)"></td>
                            <td md-cell><input class="custom__four__digits" type="text" value="{{data.NonDirectBeneficiariesHiredAll}}" ng-model="data.NonDirectBeneficiariesHiredAll" disabled></td>



                            <td md-cell><input class="custom__three__digits" type="text" value="{{data.CreatePowerPlan}}" ng-model="data.CreatePowerPlan"></td>
                            <td md-cell><input class="custom__three__digits" type="text" value="{{data.CreatePowerFact}}" ng-model="data.CreatePowerFact"></td>






                            <td md-cell><i class="material-icons" ng-click="saveBtn(data)">done_all</i></td>



                            <td md-cell><i class="material-icons" ng-click="delete(data._id, $index)">delete</i></td>


                        </tr>
                        </tbody>
                    </table>
                </md-table-container>





            </md-card>

        </md-content>




    </div>







</div>