<div class="row" ng-controller="ReportByMainScoreAppCtrl">



    <div class="col-md-12">




        <md-content layout="column" flex class="custom__md-content__categ">

            <md-card>



                <md-toolbar class="md-table-toolbar md-default">


                    <div class="md-toolbar-tools">


                        <h3>Отчёт по главным целям программы</h3>


                    </div>




                    <div class="md-toolbar-tools">



                        <md-input-container class="custom__select__margin">
                            <label>Выберите страну</label>
                            <md-icon class="material-icons">place</md-icon>
                            <md-select ng-model="country">

                                <md-option ng-repeat="y in allCountrys" ng-value="y._id">
                                    {{y.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>


                        <md-input-container class="custom__margin__select__report">
                            <label>Выберите год</label>
                            <md-icon class="material-icons">date_range</md-icon>
                            <md-select ng-model="yearname">

                                <md-option ng-repeat="y in allyearname" ng-value="y._id">
                                    {{y.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>




                        <button class="btn btn-sm btn-primary" ng-click="createReport()">Сформировать отчет</button>


                    </div>

                </md-toolbar>



                        <div id="chartMainScore"></div>









            </md-card>


        </md-content>








    </div>











</div>