<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







        <md-toolbar class="md-toolbar-tools">

                <h2>{{ 'CREATE_EVENT' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="material-icons">close</i>
                </md-button>

        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content">




                <div class="col-md-12">

                    <div class="row">
                        <md-card>

                            <div class="content">

                                <div class="col-md-6">





                                    <md-input-container class="custom__select__coutry">
                                        <label>{{ 'SELECT_COUNTRY' | translate }}</label>
                                        <md-icon class="material-icons">place</md-icon>
                                        <md-select ng-model="data.country">

                                            <md-option ng-repeat="y in data.allCountrys" ng-value="y._id">
                                                {{y.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>








                                    <md-input-container class="custom__date__margin">
                                        <label>{{ 'SELECT_DATE' | translate }}</label>
                                        <md-datepicker ng-model="data.myDate" md-open-on-focus></md-datepicker>
                                    </md-input-container>





                                    <md-input-container class="md-icon-float md-block">
                                    <label>{{ 'NAME_EVENT' | translate }}</label>
                                        <md-icon class="material-icons">event_available</md-icon>

                                        <input ng-model="data.nameEvent">
                                    </md-input-container>





                                    <md-input-container class="custom__select__margin" style="margin-right: 250px;">
                                        <label>{{ 'TYPE_EVENT' | translate }}</label>
                                        <md-icon class="material-icons">event_available</md-icon>
                                        <md-select ng-model="data.typeEvent">

                                            <md-option ng-repeat="y in data.allEventStatuses" ng-value="y._id">
                                                {{y.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>


                                    <md-input-container class="custom__select__margin" style="margin-right: 250px;">
                                        <label>{{ 'EVENT_TYPE_GENDER' | translate }}</label>
                                        <md-icon class="material-icons">event_available</md-icon>
                                        <md-select ng-model="data.subTypeEvent">

                                            <md-option ng-repeat="y in data.allEventSubStatuses" ng-value="y._id">
                                                {{y.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>




                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'COMMON_OK' | translate }}</label>
                                        <md-icon class="material-icons">event_available</md-icon>

                                        <input ng-model="data.common_ok_persent">
                                    </md-input-container>



                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'COMMON_WOMEN' | translate }}</label>
                                        <md-icon class="material-icons">event_available</md-icon>

                                        <input ng-model="data.common_women_persent">
                                    </md-input-container>




                                </div>


                    <div class="col-md-6">



                        <md-input-container class="md-icon-float md-block">
                            <label>{{ 'COUNTPEOPLEEVENTCOMMON' | translate }}</label>
                            <md-icon class="material-icons">people</md-icon>

                            <input type="number" ng-model="data.countPeopleEventCommon">
                        </md-input-container>


                        <md-input-container class="md-icon-float md-block">
                            <label>{{ 'OF_WOMEN' | translate }}</label>
                            <md-icon class="material-icons">pregnant_woman</md-icon>

                            <input type="number" ng-model="data.countWomanEventCommon">
                        </md-input-container>










                        <md-input-container class="md-icon-float md-block">
                            <label>{{ 'COUNTFACILATATOREVENTCOMMON' | translate }}</label>
                            <md-icon class="material-icons">people</md-icon>

                            <input type="number" ng-model="data.countFacilatatorEventCommon">
                        </md-input-container>








                        <md-input-container class="md-icon-float md-block">
                            <label>{{ 'OF_WOMEN' | translate }}</label>
                            <md-icon class="material-icons">pregnant_woman</md-icon>

                            <input type="number" ng-model="data.countFacilatatorWomanEventCommon">
                        </md-input-container>







                        <md-input-container class="md-icon-float md-block">
                            <label>{{ 'COUNTSPEAKEREVENTCOMMON' | translate }}</label>
                            <md-icon class="material-icons">people</md-icon>

                            <input type="number" ng-model="data.countSpeakerEventCommon">
                        </md-input-container>






                        <md-input-container class="md-icon-float md-block">
                            <label>{{ 'OF_WOMEN' | translate }}</label>
                            <md-icon class="material-icons">pregnant_woman</md-icon>

                            <input type="number" ng-model="data.countSpeakerWomanEventCommon">
                        </md-input-container>





                    </div>













                            </div>


                        </md-card>


                    </div>












                </div>






                </div>
        </md-dialog-content>




    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="addEvent()">
             {{ 'SAVE' | translate }}
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()">
            {{ 'CANCEL' | translate }}
        </md-button>

    </md-dialog-actions>



</md-dialog>