<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







        <md-toolbar class="md-toolbar-tools">

                <h2>Обновить мероприятие</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="material-icons">close</i>
                </md-button>

        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content">




                <div class="col-md-12">

                    <div class="row">
                        <md-card>

                            <div class="content">

                                <div class="col-md-6">

                                    <div class="input-group">
                                             <span class="input-group-addon">
                                                <i class="material-icons">place</i>
                                             </span>
                                        <div class="form-group is-empty">  <select ng-model="data.country" ng-options="y._id as y.name for y in data.allCountrys">
                                        </select><span class="material-input"></span></div>
                                    </div>





                                    <div class="input-group">

                                        <div class="form-group is-empty"><div flex-gt-xs>

                                            <md-datepicker ng-model="data.myDate" md-placeholder="Выберите дату" md-open-on-focus></md-datepicker>
                                        </div><span class="material-input"></span></div>
                                    </div>




                                    <div class="input-group">
                                             <span class="input-group-addon">
                                             <i class="material-icons">event_available</i>
                                             </span>
                                        <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Название мероприятия" ng-model="data.nameEvent"><span class="material-input"></span></div>
                                    </div>



                                    <div class="input-group">
                                             <span class="input-group-addon">
                                              <i class="material-icons">event_available</i>
                                             </span>
                                        <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Тип мероприятия" ng-model="data.typeEvent"><span class="material-input"></span></div>
                                    </div>


                                    <div class="input-group">
                                             <span class="input-group-addon">
                                               <i class="material-icons">event_available</i>
                                             </span>
                                        <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Подтип мероприятия" ng-model="data.subTypeEvent"><span class="material-input"></span></div>
                                    </div>


                                </div>


                    <div class="col-md-6">

                        <div class="input-group">
                                             <span class="input-group-addon">
                                                <i class="material-icons">people</i>
                                             </span>
                            <div class="form-group is-empty"><input type="number" class="form-control" placeholder="Количество участников, общее" ng-model="data.countPeopleEventCommon"><span class="material-input"></span></div>
                        </div>

                        <div class="input-group">
                                             <span class="input-group-addon">
                                                <i class="material-icons">pregnant_woman</i>
                                             </span>
                            <div class="form-group is-empty"><input type="number" placeholder="Из них женщин" class="form-control" ng-model="data.countWomanEventCommon"><span class="material-input"></span></div>
                        </div>



                        <div class="input-group">
                                             <span class="input-group-addon">
                                                 <i class="material-icons">people</i>
                                             </span>
                            <div class="form-group is-empty"><input type="number" placeholder="Количество фасилитаторов, общее" class="form-control" ng-model="data.countFacilatatorEventCommon"><span class="material-input"></span></div>
                        </div>

                        <div class="input-group">
                                             <span class="input-group-addon">
                                                 <i class="material-icons">pregnant_woman</i>
                                             </span>
                            <div class="form-group is-empty"><input type="number" placeholder="Из них женщин" class="form-control" ng-model="data.countFacilatatorWomanEventCommon"><span class="material-input"></span></div>
                        </div>


                        <div class="input-group">
                                             <span class="input-group-addon">
                                                <i class="material-icons">people</i>
                                             </span>
                            <div class="form-group is-empty"><input type="number" placeholder="Количество спикеров, общее" class="form-control" ng-model="data.countSpeakerEventCommon"><span class="material-input"></span></div>
                        </div>


                        <div class="input-group">
                                             <span class="input-group-addon">
                                                <i class="material-icons">pregnant_woman</i>
                                             </span>
                            <div class="form-group is-empty"><input type="number" placeholder="Из них женщин" class="form-control" ng-model="data.countSpeakerWomanEventCommon"><span class="material-input"></span></div>
                        </div>

                    </div>













                            </div>


                        </md-card>


                    </div>












                </div>






                </div>
        </md-dialog-content>




    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="save()">
            Сохранить
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()">
            Отмена
        </md-button>

    </md-dialog-actions>



</md-dialog>