<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







        <md-toolbar class="md-toolbar-tools">

                <h2>{{ 'WRITE_EMAILS' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="material-icons">close</i>
                </md-button>

        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content">




                <div class="col-md-12">

                    <div class="row">
                        <md-card>

                            <div class="content md-chips-custom">

                                    <md-chips ng-model="data.emails" readonly="data.readonly" md-removable="data.removable" placeholder="{{ 'WRITE_EMAILS_PLACEHOLDER' | translate }}"/>


                            </div>


                        </md-card>


                    </div>












                </div>






                </div>
        </md-dialog-content>




    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="sendForm()">
            {{ 'SAVE' | translate }}
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()">
           {{ 'CANCEL' | translate }}
        </md-button>

    </md-dialog-actions>



</md-dialog>