<div class="row" ng-controller="Grow_potencialCtrl">

    <div class="col-md-12">




        <md-content layout="column" flex class="custom__md-content__categ">

            <md-card>



                <md-toolbar class="md-table-toolbar md-default">


                    <div class="md-toolbar-tools">


                        <h3>{{ 'GROW_POTENCIAL' | translate }}</h3>


                    </div>


                    <div class="md-toolbar-tools">


                        <input type="text" ng-model="search" placeholder="{{ 'SEARCH' | translate }}" class="custom__search__input">


                    </div>

                    <div class="md-toolbar-tools">


                        <button class="btn btn-primary" ng-click="showModalWnd($event)">{{ 'ADD_ROW' | translate }}</button>



                        <button class="btn btn-primary" ng-click="excel()">{{ 'EXPORT_EXCEL' | translate }}</button>


                    </div>

                </md-toolbar>

                <!-- exact table from live demo -->
                <md-table-container class="custom__fix__freez__head">
                    <table md-table ng-model="ctrl.selected">
                        <thead md-head fix-head class="custom__border__group__all">
                        <tr md-row>



                            <th md-column></th>
                            <th md-column class="custom__border__right__group">№</th>
                            <th md-column class="custom__border__right__group">{{ 'NAME_EVENT' | translate }}</th>

                            <th md-column class="custom__border__right__group">{{ 'PLACE_EVENT' | translate }}</th>

                            <th md-column class="custom__border__right__group">{{ 'DATE_EVENT' | translate }}</th>



                            <th md-column class="custom__border__right__group" style="min-width: 129px;
    max-width: 129px;
    white-space: pre-wrap;">{{ 'SEND_FORM' | translate }}</th>
                            <th md-column class="custom__border__right__group">{{ 'VIEW' | translate }}</th>
                            <th md-column class="custom__border__right__group">{{ 'REFRESH' | translate }}</th>
                            <th md-column class="custom__border__right__group">{{ 'DELETE' | translate }}</th>
                            <th md-column>{{ 'ADD_FORM' | translate }}</th>

                        </tr>
                        </thead>
                        <tbody md-body>





                        <tr md-row md-select="data" md-select-id="id" md-auto-select ng-repeat="data in data | filter:search">



                            <td md-cell>

                                <md-button class="md-icon-button" aria-label="More">
                                    <i class="material-icons" ng-click="plusRow($index, $event, data._id)">{{data.icon}}</i>
                                </md-button>


                                </td>

                            <td md-cell>{{data.id}}</td>
                            <td md-cell>{{data.nameEvent}}</td>
                            <td md-cell>{{data.nameCountry}}</td>

                            <td md-cell>{{data.myDate | date : "dd.MM.y"}}</td>





                            <td md-cell><md-button class="md-icon-button" aria-label="More">
                                <i class="material-icons" ng-click="sendForm(data, $event)">{{data.iconSend}}</i>
                            </md-button></td>


                            <td md-cell><md-button class="md-icon-button" aria-label="More">
                                <i class="material-icons" ng-click="updateEvent(data, $event, $index)">visibility</i>
                            </md-button></td>

                            <td md-cell><md-button class="md-icon-button" aria-label="More">
                                <i class="material-icons" ng-click="updateEvent(data, $event, $index)">done_all</i>
                            </md-button></td>

                            <td md-cell> <md-button class="md-icon-button" aria-label="More">
                                <i class="material-icons" ng-click="delete(data, $index)">delete</i>
                            </md-button></td>


                            <td md-cell> <md-button class="md-icon-button" aria-label="More">
                                <i class="material-icons" ng-click="addForm(data, $event)">{{data.formIcon}}</i>
                            </md-button></td>




                        </tr>
                        </tbody>
                    </table>
                </md-table-container>





            </md-card>


        </md-content>


















    </div>





</div>