<div class="row" ng-controller="Grow_potencialCtrl">

    <div class="col-md-12">




        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">{{ 'GROW_POTENCIAL' | translate }}</h3>

                    </div>

                </div>

            </md-card>






                <md-card>


                    <div class="row" style="margin-left: 0;margin-top: 10px;">


                        <div class="col-md-6">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label style="color: black">{{ 'SEARCH' | translate }}</label>
                                <input type="search" ng-model="search">
                            </md-input-container>


                        </div>


                    </div>


                    <div class="row" style="    margin-left: -5px;
    margin-top: -25px;
    margin-bottom: 25px;">
                        <div class="col-md-12">
                            <md-button class="md-raised md-primary" ng-click="showModalWnd($event)">{{ 'ADD_ROW' | translate }}</md-button>
                            <md-button class="md-raised md-primary" ng-click="excel()">{{ 'EXPORT_EXCEL' | translate }}</md-button>

                        </div>

                    </div>






                    <div class="row" style="margin-left: 5px;margin-right: 5px;">
                        <div class="col-md-12">


                            <style type="text/css">
                                .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                .tg .tg-hgcj{font-weight:bold;text-align:center; vertical-align:middle}
                                .tg .tg-baqh{text-align:center;vertical-align:middle}
                                .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:middle}


                            </style>
                            <table class="tg table-striped">
                                <tr>
                                    <th class="tg-hgcj"></th>
                                    <th class="tg-hgcj">№</th>
                                    <th class="tg-hgcj">{{ 'NAME_EVENT' | translate }}</th>
                                    <th class="tg-hgcj">{{ 'PLACE_EVENT' | translate }}</th>
                                    <th class="tg-amwm">{{ 'DATE_EVENT' | translate }}</th>
                                    <th class="tg-amwm">{{ 'SEND_FORM' | translate }}</th>
                                    <th class="tg-amwm">{{ 'VIEW' | translate }}</th>
                                    <th class="tg-amwm">{{ 'REFRESH' | translate }}</th>
                                    <th class="tg-amwm">{{ 'DELETE' | translate }}</th>
                                    <th class="tg-amwm">{{ 'ADD_FORM' | translate }}</th>

                                </tr>


                                <tbody>


                                <tr class="tg-baqh" ng-repeat="data in data | filter:search">



                                    <td>

                                        <md-button class="md-icon-button" aria-label="More">
                                            <i class="material-icons" ng-click="plusRow($index, $event, data._id)">{{data.icon}}</i>
                                        </md-button>


                                    </td>

                                    <td>{{data.id}}</td>
                                    <td>{{data.nameEvent}}</td>
                                    <td>{{data.nameCountry}}</td>

                                    <td>{{data.myDate | date : "dd.MM.y"}}</td>





                                    <td><md-button class="md-icon-button" aria-label="More">
                                        <i class="material-icons" ng-click="sendForm(data, $event)">{{data.iconSend}}</i>
                                    </md-button></td>


                                    <td><md-button class="md-icon-button" aria-label="More">
                                        <i class="material-icons" ng-click="updateEvent(data, $event, $index)">visibility</i>
                                    </md-button></td>

                                    <td><md-button class="md-icon-button" aria-label="More">
                                        <i class="material-icons" ng-click="updateEvent(data, $event, $index)">done_all</i>
                                    </md-button></td>

                                    <td> <md-button class="md-icon-button" aria-label="More">
                                        <i class="material-icons" ng-click="delete(data, $index)">delete</i>
                                    </md-button></td>


                                    <td> <md-button class="md-icon-button" aria-label="More">
                                        <i class="material-icons" ng-click="addForm(data, $event)">{{data.formIcon}}</i>
                                    </md-button></td>



                                </tr>



                                </tbody>


                            </table>



                        </div>

                    </div>








                </md-card>










        </md-content>


















    </div>





</div>