<div class="row" ng-controller="Grow_potencialCtrl">

    <div class="col-md-12">




        <md-content layout="column" flex class="custom__md-content__categ">

            <md-card>



                <md-toolbar class="md-table-toolbar md-default">


                    <div class="md-toolbar-tools">


                        <h3>Наращивание потенциала</h3>


                    </div>


                    <div class="md-toolbar-tools">


                        <input type="text" ng-model="search" placeholder="Поиск..." class="custom__search__input">


                    </div>

                    <div class="md-toolbar-tools">


                        <button class="btn btn-primary" ng-click="showModalWnd($event)">Добавить запись</button>



                        <button class="btn btn-primary" ng-click="excel()">Выгрузить в Excel</button>


                    </div>

                </md-toolbar>

                <!-- exact table from live demo -->
                <md-table-container class="custom__fix__freez__head">
                    <table md-table ng-model="ctrl.selected">
                        <thead md-head fix-head>
                        <tr md-row>



                            <th md-column></th>
                            <th md-column>№</th>
                            <th md-column>Название мероприятия</th>

                            <th md-column>Место мероприятия</th>

                            <th md-column>Дата проведения</th>



                            <th md-column>Отправить анкету <br> на заполнение</th>
                            <th md-column>Просмотреть</th>
                            <th md-column>Обновить</th>
                            <th md-column>Удалить</th>
                            <th md-column>Добавить анкету</th>

                        </tr>
                        </thead>
                        <tbody md-body>





                        <tr md-row md-select="data" md-select-id="id" md-auto-select ng-repeat="data in data | filter:search">



                            <td md-cell>

                                <md-button class="md-icon-button" aria-label="More">
                                    <i class="material-icons" ng-click="plusRow($index, $event, data._id)">{{data.icon}}</i>
                                </md-button>


                                </td>

                            <td md-cell>{{data.id}}</td>
                            <td md-cell>{{data.nameEvent}}</td>
                            <td md-cell>{{data.nameCountry}}</td>

                            <td md-cell>{{data.myDate | date : "dd.MM.y"}}</td>





                            <td md-cell><md-button class="md-icon-button" aria-label="More">
                                <i class="material-icons" ng-click="sendForm(data, $event)">{{data.iconSend}}</i>
                            </md-button></td>


                            <td md-cell><md-button class="md-icon-button" aria-label="More">
                                <i class="material-icons" ng-click="updateEvent(data, $event, $index)">visibility</i>
                            </md-button></td>

                            <td md-cell><md-button class="md-icon-button" aria-label="More">
                                <i class="material-icons" ng-click="updateEvent(data, $event, $index)">done_all</i>
                            </md-button></td>

                            <td md-cell> <md-button class="md-icon-button" aria-label="More">
                                <i class="material-icons" ng-click="delete(data, $index)">delete</i>
                            </md-button></td>


                            <td md-cell> <md-button class="md-icon-button" aria-label="More">
                                <i class="material-icons" ng-click="addForm(data, $event)">{{data.formIcon}}</i>
                            </md-button></td>




                        </tr>
                        </tbody>
                    </table>
                </md-table-container>





            </md-card>


        </md-content>


















    </div>





</div>