<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







        <md-toolbar class="md-toolbar-tools">

                <h2>{{ 'CREATE_NEW_ROW' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="material-icons">close</i>
                </md-button>

        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content">




                <div class="col-md-12">

                    <div class="row">
                        <md-card>

                            <div class="content">

                                <div class="col-md-12">

                                    <md-input-container class="custom__select__margin">
                                        <label>{{ 'SELECT_COUNTRY' | translate }}</label>
                                        <md-icon class="material-icons">place</md-icon>
                                        <md-select ng-model="data.country" multiple>

                                            <md-option ng-repeat="y in data.allCountrys" ng-value="y._id">
                                                {{y.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>








                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'NET_PLATFORM' | translate }}</label>
                                        <md-icon class="material-icons">attach_money</md-icon>

                                        <input ng-model="data.platform_name">
                                    </md-input-container>











                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'PEOPLE_ALL' | translate }}</label>
                                        <md-icon class="material-icons">group</md-icon>

                                        <textarea ng-model="data.platform_participants" rows="5" md-select-on-focus></textarea>
                                    </md-input-container>








                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'TARGET' | translate }}</label>
                                        <md-icon class="material-icons">attach_money</md-icon>

                                        <input ng-model="data.platform_target">
                                    </md-input-container>








                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'THEME' | translate }}</label>
                                        <md-icon class="material-icons">work</md-icon>

                                        <input ng-model="data.platform_subject">
                                    </md-input-container>












                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'TYPE_OF_HELP' | translate }}</label>
                                        <md-icon class="material-icons">account_circle</md-icon>

                                        <input ng-model="data.platform_typeHelp">
                                    </md-input-container>






                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'RESULT' | translate }}</label>
                                        <md-icon class="material-icons">contact_phone</md-icon>

                                        <input ng-model="data.platform_results">
                                    </md-input-container>








                                </div>
















                            </div>


                        </md-card>


                    </div>












                </div>






                </div>
        </md-dialog-content>




    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="addPlatform()">
            {{ 'SAVE' | translate }}
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()">
            {{ 'CANCEL' | translate }}
        </md-button>

    </md-dialog-actions>



</md-dialog>