<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







        <md-toolbar class="md-toolbar-tools">

                <h2>Создать региональную инвестицию</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="material-icons">close</i>
                </md-button>

        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content">




                <div class="col-md-12">

                    <div class="row">
                        <md-card>

                            <div class="content">

                                <div class="col-md-12">

                                    <md-input-container class="custom__select__margin">
                                        <label>Выберите страну</label>
                                        <md-icon class="material-icons">place</md-icon>
                                        <md-select ng-model="data.country">

                                            <md-option ng-repeat="y in data.allCountrys" ng-value="y._id">
                                                {{y.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>














                                    <md-input-container class="md-icon-float md-block">
                                        <label>Тип инвестиций</label>
                                        <md-icon class="material-icons">attach_money</md-icon>

                                        <input ng-model="data.typeInvest">
                                    </md-input-container>








                                    <md-input-container class="md-icon-float md-block">
                                        <label>Размер инвестиций</label>
                                        <md-icon class="material-icons">attach_money</md-icon>

                                        <input ng-model="data.sizeInvest">
                                    </md-input-container>




                                    <md-input-container class="md-icon-float md-block">
                                        <label>Инвестор</label>
                                        <md-icon class="material-icons">work</md-icon>

                                        <input ng-model="data.investor">
                                    </md-input-container>












                                    <md-input-container class="md-icon-float md-block">
                                        <label>Сотрудничающие страны</label>
                                        <md-icon class="material-icons">place</md-icon>

                                        <input ng-model="data.coloborationCountry">
                                    </md-input-container>





                                    <md-input-container class="md-icon-float md-block">
                                        <label>Исполнительный деятель с контактами</label>
                                        <md-icon class="material-icons">person_pin</md-icon>

                                        <input ng-model="data.executorWithContact">
                                    </md-input-container>


                                    <md-input-container class="md-icon-float md-block">
                                        <label>Краткое описание совместной деятельности, приведшей к инвестициям.</label>
                                        <md-icon class="material-icons">description</md-icon>
                                        <textarea ng-model="data.descriptionInvest" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
                                    </md-input-container>




                                </div>
















                            </div>


                        </md-card>


                    </div>












                </div>






                </div>
        </md-dialog-content>




    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="addPlatform()">
            Сохранить
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()">
            Отмена
        </md-button>

    </md-dialog-actions>



</md-dialog>