<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







        <md-toolbar class="md-toolbar-tools">

                <h2>Создать новую запись</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="material-icons">close</i>
                </md-button>

        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content">




                <div class="col-md-12">

                    <div class="row">
                        <md-card>

                            <div class="content">

                                <div class="col-md-12">

                                    <md-input-container class="custom__select__margin">
                                        <label>Выберите страны</label>
                                        <md-icon class="material-icons">place</md-icon>
                                        <md-select ng-model="data.country" multiple>

                                            <md-option ng-repeat="y in data.allCountrys" ng-value="y._id">
                                                {{y.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>















                                    <md-input-container class="md-icon-float md-block">
                                        <label>Название программы</label>
                                        <md-icon class="material-icons">dashboard</md-icon>

                                        <input ng-model="data.programm">
                                    </md-input-container>














                                    <md-input-container class="md-icon-float md-block">
                                        <label>Сфера/сектор</label>
                                        <md-icon class="material-icons">business</md-icon>

                                        <input ng-model="data.sector">
                                    </md-input-container>






                                    <md-input-container class="md-icon-float md-block">
                                        <label>Разработчики</label>
                                        <md-icon class="material-icons">group_work</md-icon>

                                        <input ng-model="data.developers">
                                    </md-input-container>













                                    <md-input-container class="md-icon-float md-block">
                                        <label>Реализующее агенство</label>
                                        <md-icon class="material-icons">account_balance</md-icon>

                                        <input ng-model="data.executorAgents">
                                    </md-input-container>



                                    <md-input-container class="md-icon-float md-block">
                                        <label>Контакты</label>
                                        <md-icon class="material-icons">phone</md-icon>

                                        <input ng-model="data.executorAgentsContacts">
                                    </md-input-container>


                                    <md-input-container class="md-icon-float md-block">
                                        <label>Краткое описание использованного ноу-хау проекта</label>
                                        <md-icon class="material-icons">group</md-icon>

                                        <textarea ng-model="data.projectDescription" rows="5" md-select-on-focus></textarea>
                                    </md-input-container>









                                </div>
















                            </div>


                        </md-card>


                    </div>












                </div>






                </div>
        </md-dialog-content>




    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="addPlatform()">
            Сохранить
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()">
            Отмена
        </md-button>

    </md-dialog-actions>



</md-dialog>