<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







        <md-toolbar class="md-toolbar-tools">

                <h2>{{ 'CREATE_NEW_ROW' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="material-icons">close</i>
                </md-button>

        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content">




                <div class="col-md-12">

                    <div class="row">
                        <md-card>

                            <div class="content">

                                <div class="col-md-12">






                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'TYPE_INVEST' | translate }}</label>
                                        <md-icon class="material-icons">attach_money</md-icon>

                                        <input ng-model="data.typeInvest">
                                    </md-input-container>








                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'SIZE_INVEST' | translate }}</label>
                                        <md-icon class="material-icons">attach_money</md-icon>

                                        <input ng-model="data.sizeInvest">
                                    </md-input-container>




                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'INVESTOR' | translate }}</label>
                                        <md-icon class="material-icons">work</md-icon>

                                        <input ng-model="data.investor">
                                    </md-input-container>







                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'COLLABORATION_COUNTRY' | translate }}</label>
                                        <md-icon class="material-icons">place</md-icon>

                                        <input ng-model="data.coloborationCountry">
                                    </md-input-container>





                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'EXECUTORWITHCONTACT' | translate }}</label>
                                        <md-icon class="material-icons">person_pin</md-icon>

                                        <input ng-model="data.executorWithContact">
                                    </md-input-container>


                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'CONTACTS' | translate }}</label>
                                        <md-icon class="material-icons">phone</md-icon>

                                        <input ng-model="data.executorAgentsContacts">
                                    </md-input-container>



                                    <md-input-container class="md-icon-float md-block">
                                        <label>{{ 'DESCRIPTIONINVEST' | translate }}</label>
                                        <md-icon class="material-icons">description</md-icon>
                                        <textarea ng-model="data.descriptionInvest" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
                                    </md-input-container>




                                </div>
















                            </div>


                        </md-card>


                    </div>












                </div>






                </div>
        </md-dialog-content>




    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="addPlatform()">
           {{ 'SAVE' | translate }}
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()">
            {{ 'CANCEL' | translate }}
        </md-button>

    </md-dialog-actions>



</md-dialog>