<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







    <md-toolbar class="md-toolbar-tools">

        <h2>Создать мобильный ресурс</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
            <i class="material-icons">close</i>
        </md-button>

    </md-toolbar>


    <md-dialog-content>
        <div class="md-dialog-content">




            <div class="col-md-12">

                <div class="row">
                    <md-card>

                        <div class="content">

                            <div class="col-md-12">

                                <md-input-container class="custom__select__margin">
                                    <label>Выберите страну</label>
                                    <md-icon class="material-icons">place</md-icon>
                                    <md-select ng-model="data.country">

                                        <md-option ng-repeat="y in data.allCountrys" ng-value="y._id">
                                            {{y.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>


















                                <md-input-container class="md-icon-float md-block">
                                    <label>Проект/инициатива</label>
                                    <md-icon class="material-icons">feedback</md-icon>

                                    <input ng-model="data.projectIniciativ">
                                </md-input-container>








                                <md-input-container class="md-icon-float md-block">
                                    <label>Объем финансирования</label>
                                    <md-icon class="material-icons">attach_money</md-icon>

                                    <input ng-model="data.amountFinance">
                                </md-input-container>








                                <md-input-container class="md-icon-float md-block">
                                    <label>Источник финансирования</label>
                                    <md-icon class="material-icons">work</md-icon>

                                    <input ng-model="data.sourceFinance">
                                </md-input-container>






                                <div class="input-group">
                                             <span class="input-group-addon">

                                             </span>
                                    <div class="form-group is-empty">

                                        <h6>Основное назначение</h6>






                                        <md-radio-group ng-model="data.mainDestination">

                                            <md-radio-button value="Улучшение знаний">Улучшение знаний
                                            </md-radio-button>
                                            <md-radio-button value="Поднятие потенциала">Поднятие потенциала</md-radio-button>
                                            <md-radio-button value="Инвестиции в региональное сотрудничество в области климата">Инвестиции в региональное сотрудничество в области климата</md-radio-button>


                                        </md-radio-group>

                                        <md-input-container class="md-icon-float md-block">
                                            <label>Другое</label>

                                            <input ng-model="data.mainDestination">
                                        </md-input-container>








                                        <span class="material-input"></span></div>
                                </div>







                                <md-input-container class="md-icon-float md-block">
                                    <label>Исполнитель проекта</label>
                                    <md-icon class="material-icons">account_circle</md-icon>

                                    <input ng-model="data.executorProject">
                                </md-input-container>






                                <md-input-container class="md-icon-float md-block">
                                    <label>Контактные данные исполнителя</label>
                                    <md-icon class="material-icons">contact_phone</md-icon>

                                    <input ng-model="data.contactExecutor">
                                </md-input-container>








                            </div>
















                        </div>


                    </md-card>


                </div>












            </div>






        </div>
    </md-dialog-content>




    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="addPlatform()">
            Сохранить
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()">
            Отмена
        </md-button>

    </md-dialog-actions>



</md-dialog>