<div class="row" ng-controller="MainScoreProgramCtrl">


    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">


            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">{{ 'MAIN_SCORE_PROGRAM' | translate }}</h3>

                    </div>

                </div>

            </md-card>




            <md-card>




                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab ng-click="tabClk('Platform')">

                        <md-tab-label>
                            <h6 class="custom__tab__label">{{ 'PLATFORM_TAB_TITLE' | translate }}</h6>
                        </md-tab-label>



                        <md-tab-body>



                        <md-content class="md-padding">




                                <div class="row" style="margin-left: 0;margin-top: 10px;">


                                    <div class="col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label style="color: black">{{ 'SEARCH' | translate }}</label>
                                            <input type="search" ng-model="search">
                                        </md-input-container>


                                    </div>


                                </div>


                                <div class="row" style="margin-left: -5px;margin-top: -25px;margin-bottom: 25px;">
                                    <div class="col-md-12">
                                        <md-button class="md-raised md-primary" ng-click="addBtn($event, 'Platform')">{{ 'ADD_ROW' | translate }}</md-button>
                                        <md-button class="md-raised md-primary" ng-click="excel('platform_network', 'Платформы и сети')">{{ 'EXPORT_EXCEL' | translate }}</md-button>

                                    </div>

                                </div>






                                <div class="row" style="margin-left: 5px;margin-right: 5px;">
                                    <div class="col-md-12 table-responsive">


                                        <style type="text/css">
                                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                            .tg .tg-e3zv{font-weight:bold}
                                            .tg .tg-baqh{text-align:center;vertical-align:middle}
                                            .tg .tg-hgcj{font-weight:bold;text-align:center}
                                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                                            .tg .tg-9hbo{font-weight:bold;vertical-align:top}
                                        </style>
                                        <table class="tg table-striped">
                                            <tr>
                                                <th class="tg-hgcj">№</th>
                                                <th class="tg-hgcj">{{ 'NET_PLATFORM' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'COUNTRYES' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'PEOPLE_ALL' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'TARGET' | translate }}</th>

                                                <th class="tg-hgcj">{{ 'THEME' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'TYPE_OF_HELP' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'RESULT' | translate }}</th>

                                                <th class="tg-hgcj">{{ 'VIEW' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'SAVE' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'DELETE' | translate }}</th>
                                            </tr>






                                            <tbody>

                                            <tr class="tg-baqh" ng-repeat="data in data | filter:search">




                                                <td>{{data.id}}</td>
                                                <td>{{data.platform_name}}</td>


                                                <td>{{data.nameCountry.join(",")}}</td>




                                                <td>{{data.platform_participants}}</td>

                                                <td>{{data.platform_target}}</td>







                                                <td>{{data.platform_subject}}</td>
                                                <td>{{data.platform_typeHelp}}</td>
                                                <td>{{data.platform_results}}</td>



                                                <td><i class="material-icons" ng-click="updBtn(data, $event, 'Platform')">visibility</i></td>

                                                <td><i class="material-icons" ng-click="updBtn(data, $event, 'Platform')">done_all</i></td>

                                                <td><i class="material-icons" ng-click="delete(data._id, 'Platform')">delete</i></td>


                                            </tr>



                                            </tbody>




                                        </table>


                                    </div>

                                </div>












                        </md-content>

                        </md-tab-body>

                    </md-tab>

                    <md-tab ng-click="tabClk('Projects')">



                        <md-tab-label>
                            <h6 class="custom__tab__label" style="margin-top: 0">ИЦ 2. Количество планов и программ, которые разработаны самими странами с учетом знаний и уроков, предоставленных программой</h6>
                        </md-tab-label>


                        <md-tab-body>

                            <md-content class="md-padding">




                                <div class="row" style="margin-left: 0;margin-top: 10px;">


                                    <div class="col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label style="color: black">{{ 'SEARCH' | translate }}</label>
                                            <input type="search" ng-model="search">
                                        </md-input-container>


                                    </div>


                                </div>


                                <div class="row" style="margin-left: -5px;margin-top: -25px;margin-bottom: 25px;">
                                    <div class="col-md-12">
                                        <md-button class="md-raised md-primary" ng-click="addBtn($event, 'Projects')">{{ 'ADD_ROW' | translate }}</md-button>
                                        <md-button class="md-raised md-primary" ng-click="excel('project', 'Проекты и программы стран участниц РЭЦЦА')">{{ 'EXPORT_EXCEL' | translate }}</md-button>

                                    </div>

                                </div>






                                <div class="row" style="margin-left: 5px;margin-right: 5px;">
                                    <div class="col-md-12 table-responsive">


                                        <style type="text/css">
                                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                            .tg .tg-e3zv{font-weight:bold}
                                            .tg .tg-baqh{text-align:center;vertical-align:middle}
                                            .tg .tg-hgcj{font-weight:bold;text-align:center}
                                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                                            .tg .tg-9hbo{font-weight:bold;vertical-align:top}
                                        </style>
                                        <table class="tg table-striped">
                                            <tr>
                                                <th class="tg-hgcj">№</th>
                                                <th class="tg-hgcj">{{ 'PROGRAMM' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'SPHERE' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'COUNTRY' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'DEVELOPERS' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'CREATE_AGENST' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'DISCRIPTION_NOU_HAU' | translate }}</th>

                                                <th class="tg-hgcj">{{ 'VIEW' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'SAVE' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'DELETE' | translate }}</th>
                                            </tr>






                                            <tbody>

                                            <tr class="tg-baqh" ng-repeat="data in data | filter:search">





                                                <td>{{data.id}}</td>
                                                <td>{{data.programm}}</td>

                                                <td>{{data.sector}}</td>



                                                <td>{{data.nameCountry.join(",")}}</td>



                                                <td>{{data.developers}}</td>
                                                <td>{{data.executorAgents}}</td>
                                                <td>{{data.projectDescription}}</td>




                                                <td><i class="material-icons" ng-click="updBtn(data, $event, 'Projects')">visibility</i></td>
                                                <td><i class="material-icons" ng-click="updBtn(data, $event, 'Projects')">done_all</i></td>

                                                <td><i class="material-icons" ng-click="delete(data._id, 'Projects')">delete</i></td>

                                            </tr>



                                            </tbody>




                                        </table>


                                    </div>

                                </div>












                            </md-content>


                        </md-tab-body>





                    </md-tab>


                    <md-tab ng-click="tabClk('RegionalInvest')" label="Региональные инвестиции">



                        <md-tab-label>
                            <h6 class="custom__tab__label" style="margin-top: 0">ИЦ 3. Примеры совм. деятельности, которые привели к финансированию инвестиций, требующих сотрудничества стран</h6>
                        </md-tab-label>




                        <md-tab-body>
                            <md-content class="md-padding">




                                <div class="row" style="margin-left: 0;margin-top: 10px;">


                                    <div class="col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label style="color: black">{{ 'SEARCH' | translate }}</label>
                                            <input type="search" ng-model="search">
                                        </md-input-container>


                                    </div>


                                </div>


                                <div class="row" style="margin-left: -5px;margin-top: -25px;margin-bottom: 25px;">
                                    <div class="col-md-12">
                                        <md-button class="md-raised md-primary" ng-click="addBtn($event, 'RegionalInvest')">{{ 'ADD_ROW' | translate }}</md-button>
                                        <md-button class="md-raised md-primary" ng-click="excel('regional_invest', 'Региональные инвестиции')">{{ 'EXPORT_EXCEL' | translate }}</md-button>

                                    </div>

                                </div>






                                <div class="row" style="margin-left: 5px;margin-right: 5px;">
                                    <div class="col-md-12 table-responsive">


                                        <style type="text/css">
                                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                            .tg .tg-e3zv{font-weight:bold}
                                            .tg .tg-baqh{text-align:center;vertical-align:middle}
                                            .tg .tg-hgcj{font-weight:bold;text-align:center}
                                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                                            .tg .tg-9hbo{font-weight:bold;vertical-align:top}
                                        </style>
                                        <table class="tg table-striped">
                                            <tr>
                                                <th class="tg-hgcj">№</th>
                                                <th class="tg-hgcj">{{ 'TYPE_INVEST' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'SIZE_INVEST' | translate }}</th>

                                                <th class="tg-hgcj">{{ 'INVESTOR' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'COLLABORATION_COUNTRY' | translate }}</th>

                                                <th class="tg-hgcj">{{ 'VIEW' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'SAVE' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'DELETE' | translate }}</th>

                                            </tr>






                                            <tbody>

                                            <tr class="tg-baqh" ng-repeat="data in data | filter:search">




                                                <td>{{data.id}}</td>
                                                <td>{{data.typeInvest}}</td>

                                                <td>{{data.sizeInvest}}</td>






                                                <td>{{data.investor}}</td>
                                                <td>{{data.coloborationCountry}}</td>




                                                <td><i class="material-icons" ng-click="updBtn(data, $event, 'RegionalInvest')">visibility</i></td>
                                                <td><i class="material-icons" ng-click="updBtn(data, $event, 'RegionalInvest')">done_all</i></td>

                                                <td><i class="material-icons" ng-click="delete(data._id, 'RegionalInvest')">delete</i></td>

                                            </tr>



                                            </tbody>




                                        </table>


                                    </div>

                                </div>












                            </md-content>




                        </md-tab-body>






                    </md-tab>


                    <md-tab ng-click="tabClk('MobileResurs')">

                        <md-tab-label>
                            <h6 class="custom__tab__label">ИЦ 4. Объем дополнительно мобилизованных ресурсов для финансирования знаний, поднятия потенциала и инвестиций в региональное сотрудничество в области изменения климата/ «зеленой» деятельности как результат улучшенного уровня программной координации между странами ЦА и м/н сообществом, поддерживающим развития</h6>
                        </md-tab-label>

                        <md-tab-body>


                            <md-content class="md-padding">




                                <div class="row" style="margin-left: 0;margin-top: 10px;">


                                    <div class="col-md-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label style="color: black">{{ 'SEARCH' | translate }}</label>
                                            <input type="search" ng-model="search">
                                        </md-input-container>


                                    </div>


                                </div>


                                <div class="row" style="margin-left: -5px;margin-top: -25px;margin-bottom: 25px;">
                                    <div class="col-md-12">
                                        <md-button class="md-raised md-primary" ng-click="addBtn($event, 'MobileResurs')">{{ 'ADD_ROW' | translate }}</md-button>
                                        <md-button class="md-raised md-primary" ng-click="excel('mobile_resurse', 'Дополнительно мобилизованные ресурсы для финансирования')">{{ 'EXPORT_EXCEL' | translate }}</md-button>

                                    </div>

                                </div>






                                <div class="row" style="margin-left: 5px;margin-right: 5px;">
                                    <div class="col-md-12 table-responsive">


                                        <style type="text/css">
                                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                            .tg .tg-e3zv{font-weight:bold}
                                            .tg .tg-baqh{text-align:center;vertical-align:middle}
                                            .tg .tg-hgcj{font-weight:bold;text-align:center}
                                            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                                            .tg .tg-9hbo{font-weight:bold;vertical-align:top}
                                        </style>
                                        <table class="tg table-striped">
                                            <tr>
                                                <th class="tg-hgcj">№</th>
                                                <th class="tg-hgcj">{{ 'PROJECT_INICIATIVE' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'AMOUNTFINANCE' | translate }}</th>

                                                <th class="tg-hgcj">{{ 'SOURCEFINANCE' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'EXECUTORPROJECT' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'CONTACTEXECUTOR' | translate }}</th>

                                                <th class="tg-hgcj">{{ 'VIEW' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'SAVE' | translate }}</th>
                                                <th class="tg-hgcj">{{ 'DELETE' | translate }}</th>

                                            </tr>






                                            <tbody>

                                            <tr class="tg-baqh" ng-repeat="data in data | filter:search">



                                                <td>{{data.id}}</td>
                                                <td>{{data.projectIniciativ}}</td>

                                                <td>{{data.amountFinance.$numberDecimal}}</td>






                                                <td>{{data.sourceFinance}}</td>
                                                <td>{{data.executorProject}}</td>
                                                <td>{{data.contactExecutor}}</td>




                                                <td><i class="material-icons" ng-click="updBtn(data, $event, 'MobileResurs')">visibility</i></td>
                                                <td><i class="material-icons" ng-click="updBtn(data, $event, 'MobileResurs')">done_all</i></td>

                                                <td><i class="material-icons" ng-click="delete(data._id, 'MobileResurs')">delete</i></td>

                                            </tr>



                                            </tbody>




                                        </table>


                                    </div>

                                </div>












                            </md-content>




                        </md-tab-body>


                    </md-tab>

                </md-tabs>



            </md-card>









        </md-content>


















    </div>







</div>