<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







        <md-toolbar class="md-toolbar-tools">

                <h2>{{ 'CREATE_TABLE_MONITORING' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="material-icons">close</i>
                </md-button>

        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content">






                    <div class="row">



                                <div class="col-md-12">





                                    <md-input-container class="custom__select__margin">
                                        <label>{{ 'SELECT_COUNTRY' | translate }}</label>
                                        <md-icon class="material-icons">place</md-icon>
                                        <md-select ng-model="data.country">

                                            <md-option ng-repeat="y in data.allCountrys" ng-value="y._id">
                                                {{y.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>



                                    <md-input-container class="custom__select__margin">
                                        <label>{{ 'SELECT_YEAR' | translate }}</label>
                                        <md-icon class="material-icons">date_range</md-icon>
                                        <md-select ng-model="data.yearname">

                                            <md-option ng-repeat="y in data.allyearname" ng-value="y._id">
                                                {{y.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>



                                    <div class="input-group">
										<span class="input-group-addon">
											<i>{{ 'ATTACH_EXCEL' | translate }}</i>
										</span>
                                        <input ng-files="getTheFiles($files)" id="file" type="file" class="form-control" accept="application/vnd.ms-excel"/>
                                    </div>








                                </div>



                    </div>




















                </div>
        </md-dialog-content>




    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="uploadFiles()">
            {{ 'SAVE' | translate }}
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()">
           {{ 'CANCEL' | translate }}
        </md-button>

    </md-dialog-actions>



</md-dialog>