<div class="row" ng-controller="Report_by_criteriyAppCtrl">

    <div class="col-md-12" id="printableArea">




        <md-content layout="column" flex class="custom__md-content__categ page-break-after" >




            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">{{ 'REPORT_BY_EVENT' | translate }}</h3>

                    </div>

                </div>

            </md-card>




            <md-card>


                <div class="row">

                    <div class="col-md-12 text-center">


                        <md-input-container style="width: 250px">

                            <label>{{ 'SELECT_COUNTRY' | translate }}</label>
                            <md-icon class="material-icons">place</md-icon>
                            <md-select ng-model="data.country">

                                <md-option ng-repeat="y in data.allCountrys" ng-value="y._id">
                                    {{y.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container style="margin-top: 40px">


                            <label>{{ 'DATE_FROM' | translate }}</label>
                            <md-datepicker class="custom__datepicker__report__criteriy" ng-model="data.dateFrom" md-open-on-focus></md-datepicker>


                        </md-input-container>




                        <md-input-container style="margin-top: 40px">

                            <label>{{ 'DATE_TO' | translate }}</label>
                            <md-datepicker class="custom__datepicker__report__criteriy" ng-model="data.dateTo" md-open-on-focus md-min-date="data.dateFrom"></md-datepicker>


                        </md-input-container>


                        <md-button class="md-raised md-primary custom__display__none" ng-click="createReport()">{{ 'BUILD_REPORT_BTN' | translate }}</md-button>
                        <md-button class="md-raised md-primary custom__display__none" ng-click="createPdf()">{{ 'TO_PDF' | translate }}</md-button>




                    </div>


                </div>



                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h5>{{ 'ALL_COUNT_EVENT' | translate }}: <strong>{{data.categorizedByDatePeriodCountry[0].all_event || 0}}</strong></h5>

                    </div>


                </div>


                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h5>{{ 'ALL_COUNT_FORM' | translate }}: <strong>{{data.countForms[0].all_form || 0}}</strong></h5>

                    </div>


                </div>





                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h5>{{ 'ALL_COUNT_PEOPLE' | translate }}: <strong>{{data.categorizedBySum[0].countPeopleEventCommon || 0}}</strong></h5>

                    </div>


                </div>


                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h5>{{ 'ALL_COUNT_FAC' | translate }}: <strong>{{data.categorizedBySum[0].countFacilatatorEventCommon || 0}}</strong> {{ 'OF_WOMAN' | translate }}: <strong>{{data.categorizedBySum[0].countFacilatatorWomanEventCommon || 0}}</strong></h5>

                    </div>


                </div>



                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h5>{{ 'ALL_COUNT_SPEACKER' | translate }}: <strong>{{data.categorizedBySum[0].countSpeakerEventCommon || 0}}</strong> {{ 'OF_WOMAN' | translate }}: <strong>{{data.categorizedBySum[0].countSpeakerWomanEventCommon || 0}}</strong></h5>

                    </div>


                </div>








                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h5>{{ 'ALL_COUNT_LEARNING_EVENT' | translate }}: <strong>{{data.categorizedByLearningEvent[0].all_learning_event || 0}}</strong></h5>

                    </div>


                </div>


                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h5>{{ 'ALL_COUNT_GENDER_EVENT' | translate }}: <strong>{{data.categorizedByGenderEvent[0].all_gender_event || 0}}</strong></h5>

                    </div>


                </div>






                <div class="row">
                    <div class="col-md-12">



                        <h5 class="title text-center" style="text-transform: uppercase">{{ 'ALL_COUNT_GOOD_EVENT' | translate }}</h5>



                    </div>


                </div>


                <div class="row custom__chart__center">
                    <div class="col-md-6">
                        <div id="chartCommon"></div>

                    </div>

                    <div class="col-md-6">

                        <div id="chartWomen"></div>
                    </div>

                </div>




                <div class="row custom__margin__top__1x">
                    <div class="col-md-12">



                        <h5 class="title text-center" style="text-transform: uppercase">{{ 'INFO_ABOUT_PEOPLE' | translate }}</h5>



                    </div>


                </div>


                <div class="row" style="margin-left: 10px">
                    <div class="col-md-12">



                        <h4>Вы представляете \ You represent:</h4>
                        <p>{{data.countSatisfactionCommonAll[0].ques19.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartCommonOrg"></div>

                    </div>


                </div>


                <div class="row" style="margin-left: 10px">
                    <div class="col-md-12">

                        <h4>Пол \ Sex:</h4>
                        <p>{{data.countSatisfactionCommonAll[0].ques20.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>

                        <div id="chartCommonSex"></div>
                    </div>
                </div>


                <div class="row" style="margin-left: 10px">
                    <div class="col-md-12">

                        <h4>Возрастная группа \ Age Group:</h4>
                        <p>{{data.countSatisfactionCommonAll[0].ques21.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>

                        <div id="chartCommonAge"></div>
                    </div>
                </div>





            </md-card>


        </md-content>


        <md-content ng-show="eventShow" layout="column" flex class="custom__md-content__categ" id="print__one__event">

            <md-card>






                <div class="row">
                    <div class="col-md-12 text-left">


                        <h5 class="title text-center" style="text-transform: uppercase">{{ 'REPORT_BY_EVENT_ONE' | translate }}</h5>



                    </div>

                </div>


                <div class="row">
                    <div class="col-md-12">


                        <md-input-container class="custom__select__margin">
                            <label>{{ 'SELECT_EVENT' | translate }}</label>
                            <md-icon class="material-icons">place</md-icon>
                            <md-select ng-model="data.selectEvent">

                                <md-option ng-repeat="z in data.allEvents" ng-value="z._id">
                                    {{z.nameEvent}}
                                </md-option>
                            </md-select>
                        </md-input-container>





                        <md-button class="md-raised md-primary custom__display__none" ng-click="createReportForEvent()">{{ 'BUILD_REPORT_BTN' | translate }}</md-button>
                        <md-button class="md-raised md-primary custom__display__none" ng-click="printOneEvent()">{{ 'PRINT' | translate }}</md-button>
                        <md-button class="md-raised md-primary custom__display__none" ng-click="excel()">{{ 'CREATE_EXCEL' | translate }}</md-button>


                    </div>

                </div>









                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h5>{{ 'COUNT_ANSWER' | translate }}: <strong>{{data.countAllAnswer[0].countAllAnswer || 0}}</strong></h5>

                    </div>


                </div>


                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h5>{{ 'COUNT_NOT_ANSWER' | translate }}: <strong>{{data.countAllNotAnswer[0].countAllNotAnswer || 0}}</strong></h5>

                    </div>


                </div>




                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Цели данного мероприятия были четко определены \ The objectives of the activity were clearly defined</h4>
                        <p>{{data.ques[0].ques1.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues1"></div>

                    </div>


                </div>

                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Взаимодействие между участниками поощрялось \ Interaction between participants was encouraged</h4>
                        <p>{{data.ques[0].ques2.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues2"></div>

                    </div>


                </div>

                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Темы имели отношение к тому, чем я занимаюсь \ Topics were related to what I do</h4>
                        <p>{{data.ques[0].ques3.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues3"></div>

                    </div>


                </div>







                <div class="row custom__margin__top" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Содержание было хорошо структурировано и понятно \ The content was well structured and understandable</h4>
                        <p>{{data.ques[0].ques4.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues4"></div>

                    </div>


                </div>




                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Раздаточные материалы были полезны \ Handouts were useful</h4>
                        <p>{{data.ques[0].ques5.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues5"></div>

                    </div>


                </div>


                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Полученная информация/знания и навыки будут полезны мне в работе \ The gained information / knowledge and skills will be useful in my work</h4>
                        <p>{{data.ques[0].ques6.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues6"></div>

                    </div>


                </div>



                <div class="row custom__margin__top__2x" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Тренер/модератор хорошо знал тему \ Trainer/moderator knew the topic well</h4>
                        <p>{{data.ques[0].ques7.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues7"></div>

                    </div>


                </div>


                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Тренер/модератор был хорошо подготовлен \ Trainer / moderator was well prepared</h4>
                        <p>{{data.ques[0].ques8.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues8"></div>

                    </div>


                </div>


                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Цели мероприятия были достигнуты \ The goals of the event were achieved</h4>
                        <p>{{data.ques[0].ques9.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues9"></div>

                    </div>


                </div>



                <div class="row custom__margin__top__2x" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Время выделенное для мероприятия было достаточным \ The time allocated for the event was sufficient</h4>
                        <p>{{data.ques[0].ques10.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues10"></div>

                    </div>


                </div>



                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Помещения для проведения мероприятия и используемая участниками инфраструктура были удобными \ The venue for the event and the infrastructure used by the participants were convenient</h4>
                        <p>{{data.ques[0].ques11.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues11"></div>

                    </div>


                </div>


                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Оцените свою общую удовлетворенность проведенным мероприятием используя 5-бальную шкалу \ Evaluate your overall satisfaction with the event, using a 5-point scale</h4>
                        <p>{{data.ques[0].ques12.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues12"></div>

                    </div>


                </div>


                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Что вам понравилось больше всего? \ What did you like the most?</h4>
                        <p>{{data.totalQues13 || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <ul ng-repeat="(key, value) in data.ques[0].dimensions13">
                            <li><strong>Email:</strong> {{key}}, <strong>{{ 'ANSWER_ONE' | translate }}:</strong> {{value}}</li>
                        </ul>

                    </div>


                </div>



                <div class="row custom__margin__top__2x" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Что можно было бы улучшить? \ What could have been improved?</h4>
                        <p>{{data.totalQues14 || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <ul ng-repeat="(key, value) in data.ques[0].dimensions14">
                            <li><strong>Email:</strong> {{key}}, <strong>{{ 'ANSWER_ONE' | translate }}:</strong> {{value}}</li>
                        </ul>

                    </div>


                </div>



                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Как вы планируете использовать полученные знания/информацию? \ How do you plan to use gained knowledge / information?</h4>
                        <p>{{data.totalQues15 || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <ul ng-repeat="(key, value) in data.ques[0].dimensions15">
                            <li><strong>Email:</strong> {{key}}, <strong>{{ 'ANSWER_ONE' | translate }}:</strong> {{value}}</li>
                        </ul>

                    </div>


                </div>



                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>В каких темах вы заинтересованы и хотели бы пройти обучение/получать информацию в дальнейшем? \ What topics are you interested in and would like to receive future training / information on?</h4>
                        <p>{{data.totalQues16 || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <ul ng-repeat="(key, value) in data.ques[0].dimensions16">
                            <li><strong>Email:</strong> {{key}}, <strong>{{ 'ANSWER_ONE' | translate }}:</strong> {{value}}</li>
                        </ul>

                    </div>


                </div>




                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Как вы оцениваете организацию мероприятия? \ How would you rate the organization of the event?</h4>
                        <p>{{data.ques[0].ques17.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues17"></div>

                    </div>


                </div>




                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Пожалуйста, отметьте, есть ли у Вас замечания или пожелания в целом по организации мероприятия? \ Please write if you have any comments or requests on the organization of the event in general</h4>
                        <p>{{data.totalQues18 || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <ul ng-repeat="(key, value) in data.ques[0].dimensions18">
                            <li><strong>Email:</strong> {{key}}, <strong>{{ 'ANSWER_ONE' | translate }}:</strong> {{value}}</li>
                        </ul>

                    </div>


                </div>





                <div class="row custom__margin__top" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Вы представляете \ You represent:</h4>
                        <p>{{data.ques[0].ques19.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues19"></div>

                    </div>


                </div>



                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Пол \ Sex:</h4>
                        <p>{{data.ques[0].ques20.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues20"></div>

                    </div>


                </div>



                <div class="row" style="margin-left: 10px">


                    <div class="col-md-12">
                        <h4>Возрастная группа \ Age Group:</h4>
                        <p>{{data.ques[0].ques21.totalAnswer || 0}} {{ 'ANSWER_ALL' | translate }}</p>
                        <div id="chartQues21"></div>

                    </div>


                </div>



            </md-card>


        </md-content>





    </div>


</div>