<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







        <md-toolbar class="md-toolbar-tools">

                <h2>Создать жалобу</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="material-icons">close</i>
                </md-button>

        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content">




                <div class="col-md-12">

                    <div class="row">
                        <md-card>

                            <div class="content">

                                <div class="col-md-6">








                                        <md-input-container class="custom__date__grm">
                                            <label>Дата поступления</label>
                                            <md-datepicker ng-model="data.dateInGo" md-open-on-focus></md-datepicker>
                                        </md-input-container>

















                                    <md-input-container class="md-icon-float md-block">
                                        <label>Канал получения</label>
                                        <md-icon class="material-icons">feedback</md-icon>




                                        <md-select ng-model="data.sourceTake"
                                                   md-on-close="clearSearchTerm()"
                                                   data-md-container-class="selectdemoSelectHeader"
                                        >
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="data.newCanalRequest"
                                                       ng-keyup='createNewCanalRequest($event)'
                                                       ng-keydown="$event.stopPropagation($event)"
                                                       type="text"
                                                       placeholder="Напечатайте здесь и нажмите Enter"
                                                       class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup>
                                                <md-option ng-value="canal._id" ng-repeat="canal in data.allCanalRequest">{{canal.name}}</md-option>
                                            </md-optgroup>
                                        </md-select>




                                    </md-input-container>








                                    <md-input-container class="md-icon-float md-block">
                                        <label>Заявитель ФИО</label>
                                        <md-icon class="material-icons">account_circle</md-icon>

                                        <input ng-model="data.declarerFIO">
                                    </md-input-container>









                                    <md-input-container class="custom__select__margin">
                                        <label>Выберите страну</label>
                                        <md-icon class="material-icons">place</md-icon>
                                        <md-select ng-model="data.country">

                                            <md-option ng-repeat="y in data.allCountrys" ng-value="y._id">
                                                {{y.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>











                                    <md-input-container class="md-icon-float md-block">
                                        <label>Контактные данные заявителя</label>
                                        <md-icon class="material-icons">phone</md-icon>

                                        <input ng-model="data.contacDeclarer">
                                    </md-input-container>








                                    <md-input-container class="md-icon-float md-block">
                                        <label>Категория жалобы</label>
                                        <md-icon class="material-icons">subject</md-icon>

                                        <input ng-model="data.categComplaint">
                                    </md-input-container>


                                    <md-input-container class="md-block">
                                        <label>Поднятый вопрос</label>
                                        <md-icon class="material-icons">thumbs_up_down</md-icon>
                                        <textarea ng-model="data.raisedQuestion" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
                                    </md-input-container>







                                </div>


                    <div class="col-md-6">






                        <md-input-container class="md-icon-float md-block">
                            <label>Отвественный за рассмотрение</label>
                            <md-icon class="material-icons">account_circle</md-icon>

                            <input ng-model="data.responsibleConsideration">
                        </md-input-container>









                        <md-input-container class="md-icon-float md-block">
                            <label>Статус рассмотрения</label>
                            <md-icon class="material-icons">poll</md-icon>

                            <input ng-model="data.reviewStatus">
                        </md-input-container>









                        <md-input-container class="md-icon-float md-block">
                            <label>Предпринятие меры</label>
                            <md-icon class="material-icons">assignment_late</md-icon>

                            <input ng-model="data.takeAction">
                        </md-input-container>











                        <md-input-container class="custom__date__grm">
                            <label>Крайний срок ответа</label>
                            <md-datepicker ng-model="data.lastDateAnswer" md-open-on-focus md-min-date="data.dateInGo"></md-datepicker>
                        </md-input-container>








                        <md-input-container class="custom__date__grm">
                            <label>Дата уведомления заявителя</label>
                            <md-datepicker ng-model="data.dateNotifDeclarer" md-open-on-focus md-min-date="data.dateInGo"></md-datepicker>
                        </md-input-container>













                        <md-input-container class="md-icon-float md-block">
                            <label>Время на обработку жалобы, измеряется в днях</label>
                            <md-icon class="material-icons">alarm</md-icon>

                            <input ng-model="data.timeToCheckComplaint" disabled>
                        </md-input-container>






                    </div>













                            </div>


                        </md-card>


                    </div>












                </div>






                </div>
        </md-dialog-content>




    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="addComplaint()">
            Сохранить
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()">
            Отмена
        </md-button>

    </md-dialog-actions>



</md-dialog>