<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







    <md-toolbar class="md-toolbar-tools">

        <h2>{{ 'CREATE_GRM' | translate }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
            <i class="material-icons">close</i>
        </md-button>

    </md-toolbar>


    <md-dialog-content>
        <div class="md-dialog-content">




            <div class="col-md-12">

                <div class="row">
                    <md-card>

                        <div class="content">

                            <div class="col-md-6">








                                <md-input-container class="custom__date__grm">
                                    <label>{{ 'DATE_TAKE' | translate }}</label>
                                    <md-datepicker ng-model="data.dateInGo" md-open-on-focus></md-datepicker>
                                </md-input-container>

















                                <md-input-container class="md-icon-float md-block">
                                    <label>{{ 'CHANNEL_COMPLAINT' | translate }}</label>
                                    <md-icon class="material-icons">feedback</md-icon>




                                    <md-select ng-model="data.canalRequest"
                                               md-on-close="clearSearchTerm()"
                                               data-md-container-class="selectdemoSelectHeader"
                                    >
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="data.newCanalRequest"
                                                   ng-keyup='createNewCanalRequest($event)'
                                                   ng-keydown="$event.stopPropagation($event)"
                                                   type="text"
                                                   placeholder="{{ 'TYPE_HERE' | translate }}"
                                                   class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="canal._id" ng-repeat="canal in data.allCanalRequestStatus">{{canal.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>




                                </md-input-container>




                                <md-input-container class="custom__select__margin">
                                    <label>{{ 'SELECT_COUNTRY' | translate }}</label>
                                    <md-icon class="material-icons">place</md-icon>
                                    <md-select ng-model="data.country">

                                        <md-option ng-repeat="y in data.allCountrys" ng-value="y._id">
                                            {{y.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>



                                <md-input-container class="md-icon-float md-block">
                                    <label>{{ 'DECLARER' | translate }}</label>
                                    <md-icon class="material-icons">account_circle</md-icon>

                                    <input ng-model="data.declarerFIO">
                                </md-input-container>




                                <md-input-container class="md-icon-float md-block">
                                    <label>{{ 'CATEG_COMPLAINT' | translate }}</label>
                                    <md-icon class="material-icons">subject</md-icon>




                                    <md-select ng-model="data.categComplaint"
                                               md-on-close="clearSearchTerm()"
                                               data-md-container-class="selectdemoSelectHeader"
                                    >
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="data.newCategGRM"
                                                   ng-keyup='createNewCategGRM($event)'
                                                   ng-keydown="$event.stopPropagation($event)"
                                                   type="text"
                                                   placeholder="{{ 'TYPE_HERE' | translate }}"
                                                   class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="categ._id" ng-repeat="categ in data.allCategComplaint">{{categ.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>




                                </md-input-container>









                                <md-input-container class="md-block">
                                    <label>{{ 'RAISED_QUESTIONS' | translate }}</label>
                                    <md-icon class="material-icons">thumbs_up_down</md-icon>
                                    <textarea ng-model="data.raisedQuestion" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
                                </md-input-container>




                                <md-input-container style="width: 200px">
                                    <label>{{ 'LEVEL_GRM' | translate }}</label>
                                    <md-icon class="material-icons">place</md-icon>
                                    <md-select ng-model="data.levelComplaint" ng-change="selectLevel(data.levelComplaint)">

                                        <md-option ng-repeat="y in data.allLevelComplaint" ng-value="y._id">
                                            {{y.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>



                                <md-input-container style="margin-top: 45px">
                                    <label>{{ 'DATE_START_INVESTEGINATION' | translate }}</label>
                                    <md-datepicker ng-model="data.dateStartInvestegment" md-open-on-focus></md-datepicker>
                                </md-input-container>


























                            </div>


                            <div class="col-md-6">






                                <md-input-container class="md-icon-float md-block">
                                    <label>{{ 'RESPONSIBLE_BY_COMPLAINT' | translate }}</label>
                                    <md-icon class="material-icons">account_circle</md-icon>

                                    <input ng-model="data.responsibleConsideration">
                                </md-input-container>









                                <md-input-container class="custom__select__margin">
                                    <label>{{ 'STATUS_COMPLAINT' | translate }}</label>
                                    <md-icon class="material-icons">place</md-icon>
                                    <md-select ng-model="data.statusId">

                                        <md-option ng-repeat="y in data.allStatus" ng-value="y._id">
                                            {{y.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>











                                <md-input-container class="md-block">
                                    <label>{{ 'TAKEN_MEASURES' | translate }}</label>
                                    <md-icon class="material-icons">thumbs_up_down</md-icon>
                                    <textarea ng-model="data.takeAction" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
                                </md-input-container>









                                <md-input-container class="custom__date__grm">
                                    <label>{{ 'DEADLINE_FOR_ANSWER' | translate }}</label>
                                    <md-datepicker ng-model="data.lastDateAnswer" ng-disabled="true"></md-datepicker>
                                </md-input-container>








                                <md-input-container class="custom__date__grm">
                                    <label>{{ 'DATE_NOTIFICATION' | translate }}</label>
                                    <md-datepicker ng-model="data.dateNotifDeclarer" md-open-on-focus md-min-date="data.dateInGo"></md-datepicker>
                                </md-input-container>













                                <md-input-container class="md-icon-float md-block">
                                    <label>{{ 'TIME_TO_CHECK_IN_DAY' | translate }}</label>
                                    <md-icon class="material-icons">alarm</md-icon>

                                    <input ng-model="data.timeToCheckComplaint" ng-disabled="true">
                                </md-input-container>






                                <p style="margin-top: 20px;">{{ 'QUELITY_STATUS' | translate }}</p>
                                <md-radio-group  style="margin-bottom: 20px" ng-model="data.assessmentQualitySatisfactionComplaint" layout="row">

                                    <md-radio-button value="1">1</md-radio-button>
                                    <md-radio-button value="2">2</md-radio-button>
                                    <md-radio-button value="3">3</md-radio-button>
                                    <md-radio-button value="4">4</md-radio-button>
                                    <md-radio-button value="5">5</md-radio-button>


                                </md-radio-group>







                            </div>













                        </div>


                    </md-card>


                </div>












            </div>






        </div>
    </md-dialog-content>




    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="addComplaint()">
             {{ 'SAVE' | translate }}
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()">
            {{ 'CANCEL' | translate }}
        </md-button>

    </md-dialog-actions>



</md-dialog>