<div class="row" ng-controller="GrmCtrl">

    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">




            <md-card>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">{{ 'GRM' | translate }}</h3>

                    </div>

                </div>

            </md-card>



            <md-card>


                <div class="row" style="margin-left: 0;margin-top: 10px;">


                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label style="color: black">{{ 'SEARCH' | translate }}</label>
                            <input type="search" ng-model="search">
                        </md-input-container>


                    </div>


                </div>


                <div class="row" style="    margin-left: -5px;
    margin-top: -25px;
    margin-bottom: 25px;">
                    <div class="col-md-12">
                        <md-button class="md-raised md-primary" ng-click="addBtn($event)">{{ 'ADD_ROW' | translate }}</md-button>
                        <md-button class="md-raised md-primary" ng-click="excel()">{{ 'EXPORT_EXCEL' | translate }}</md-button>

                    </div>

                </div>






                <div class="row" style="margin-left: 5px;margin-right: 5px;">
                    <div class="col-md-12 table-responsive">


                        <style type="text/css">
                            .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                            .tg .tg-hgcj{font-weight:bold;text-align:center}
                            .tg .tg-baqh{text-align:center;vertical-align:middle}
                        </style>
                        <table class="tg table-striped">
                            <tr>
                                <th class="tg-hgcj">Номер отслеживания</th>
                                <th class="tg-hgcj">Дата получения</th>
                                <th class="tg-hgcj">Канал получения жалобы</th>
                                <th class="tg-hgcj">Страна</th>
                                <th class="tg-hgcj">Заявитель</th>
                                <th class="tg-hgcj">Категория жалобы</th>
                                <th class="tg-hgcj">Возникшие вопросы</th>
                                <th class="tg-hgcj">Ответственный за рассмотрение жалобы</th>
                                <th class="tg-hgcj">Статус жалобы</th>
                                <th class="tg-hgcj">Принятые меры</th>
                                <th class="tg-hgcj">Крайний срок для ответа заявителю</th>
                                <th class="tg-hgcj">Дата уведомления заявителя</th>
                                <th class="tg-hgcj">Время затраченное на рассмотрение жалобы</th>
                                <th class="tg-hgcj">Оценка качества удовлетворённости жалобы</th>
                                <th class="tg-hgcj">Просмотр</th>
                                <th class="tg-hgcj">Сохранить</th>
                                <th class="tg-hgcj">Удалить</th>
                            </tr>




                            <tbody>





                            <tr class="tg-baqh" ng-repeat="data in data | filter:search">





                                <td ng-style="{'background-color': data.colorForStatus}">{{data.id}}</td>


                                <td>


                                    {{data.dateInGo | date : "dd.MM.y"}}
                                </td>

                                <td>

                                    {{data.canalName}}
                                </td>



                                <td>

                                    {{data.nameCountry}}

                                </td>




                                <td>{{data.declarerFIO}}</td>


                                <td>

                                    {{data.categName | limitTo:15}}

                                </td>



                                <td>{{data.raisedQuestion | limitTo:15}}</td>




                                <td>{{data.responsibleConsideration}}</td>


                                <td>

                                    {{data.statusName}}


                                </td>


                                <td>


                                    {{data.takeAction | limitTo:15}}


                                </td>



                                <td>


                                    {{data.lastDateAnswer | date : "dd.MM.y"}}


                                </td>




                                <td>

                                    {{data.dateNotifDeclarer | date : "dd.MM.y"}}

                                </td>


                                <td>{{data.timeToCheckComplaint}}</td>
                                <td>{{data.assessmentQualitySatisfactionComplaint}}</td>









                                <td><i class="material-icons" ng-click="updBtn(data, $event)">visibility</i></td>
                                <td><i class="material-icons" ng-click="updBtn(data, $event)">done_all</i></td>

                                <td><i class="material-icons" ng-click="delete(data._id, $index)">delete</i></td>



                            </tr>



                            </tbody>






                        </table>
                    </div>

                </div>








            </md-card>















</md-content>
    </div>

</div>