<div class="row" ng-controller="GrmCtrl">

    <div class="col-md-12">
        <md-content layout="column" flex class="custom__md-content__categ">



            <md-card>


                <md-toolbar class="md-table-toolbar md-default">


                    <div class="md-toolbar-tools">


                        <h3>Механизм рассмотрения жалоб и отзывов</h3>


                    </div>

                    <div class="md-toolbar-tools">


                        <input type="text" ng-model="search" placeholder="Поиск..." class="custom__search__input">


                    </div>

                    <div class="md-toolbar-tools">


                        <button class="btn btn-primary" ng-click="addBtn($event)">Добавить запись</button>
                        <button class="btn btn-primary" ng-click="excel()">Выгрузить в Excel</button>


                    </div>


                </md-toolbar>


                <!-- exact table from live demo -->
                <md-table-container class="custom__fix__freez__head">
                    <table md-table ng-model="ctrl.selected">
                        <thead md-head fix-head>
                        <tr md-row>

                            <th md-column class="custom__border__group__all">Номер <br> отслеживания</th>
                            <th md-column class="custom__border__group__all">Дата получения</th>
                            <th md-column class="custom__border__group__all">Канал получения <br> жалобы</th>
                            <th md-column class="custom__border__group__all">Страна</th>
                            <th md-column class="custom__border__group__all">Заявитель</th>




                            <th md-column class="custom__border__group__all">Категория жалобы</th>


                            <th md-column class="custom__border__group__all">Возникшие вопросы</th>
                            <th md-column class="custom__border__group__all">Ответственный за <br> рассмотрение жалобы</th>
                            <th md-column class="custom__border__group__all">Статус жалобы</th>
                            <th md-column class="custom__border__group__all">Принятые меры</th>
                            <th md-column class="custom__border__group__all">Крайний срок <br> для ответа заявителю</th>
                            <th md-column class="custom__border__group__all">Дата уведомления <br> заявителя</th>
                            <th md-column class="custom__border__group__all">Время затраченное <br> на рассмотрение жалобы</th>


                            <th md-column class="custom__border__group__all">Обновить</th>
                            <th md-column class="custom__border__group__all">Удалить</th>

                        </tr>
                        </thead>
                        <tbody md-body>





                        <tr md-row md-select="data" md-select-id="id" md-auto-select ng-repeat="data in data | filter:search">





                            <td md-cell ng-style="{'background-color': data.colorForStatus}">{{data.id}}</td>


                            <td md-cell>


                                {{data.dateInGo | date : "dd.MM.y"}}
                              </td>

                            <td md-cell>

                                {{data.canalName}}
                            </td>



                            <td md-cell>

                                {{data.nameCountry}}

                            </td>




                            <td md-cell>{{data.declarerFIO}}</td>


                            <td md-cell>

                               {{data.categName | limitTo:15}}

                            </td>



                            <td md-cell>{{data.raisedQuestion | limitTo:15}}</td>




                            <td md-cell>{{data.responsibleConsideration}}</td>


                            <td md-cell>

                               {{data.statusName}}


                            </td>


                            <td md-cell>


                                {{data.takeAction | limitTo:15}}


                            </td>



                            <td md-cell>


                                {{data.lastDateAnswer | date : "dd.MM.y"}}


                            </td>




                            <td md-cell>

                                {{data.dateNotifDeclarer | date : "dd.MM.y"}}

                            </td>


                            <td md-cell>{{data.timeToCheckComplaint}}</td>









                            <td md-cell><i class="material-icons" ng-click="updBtn(data, $event)">done_all</i></td>

                            <td md-cell><i class="material-icons" ng-click="delete(data._id, $index)">delete</i></td>



                        </tr>
                        </tbody>
                    </table>
                </md-table-container>








            </md-card>













</md-content>
    </div>

</div>