<div class="row" ng-controller="MainAppCtrl as ctrl">

<div class="col-md-6 col-md-offset-3">
    <md-content class="card">

        <md-content class="md-padding">

            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Администраторы</div>
                    <div class="collapsible-body"><a href="">Список администраторов</a></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Ввод данных</div>
                    <div class="collapsible-body"><ul>
                        <li><a href="">Наращивание потенциала</a></li>
                        <li><a href="">Кредиты</a></li>
                        <li><a href="">GRM</a></li>
                        <li><a href="">Финансовый статус</a></li>
                        <li><a href="">Главные и промежуточные цели программы</a></li>
                        <li><a href="">Стратегия коммуникаций</a></li>


                    </ul></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Анализ данных</div>
                    <div class="collapsible-body">
                        <ul>


                            <li><a href="">Сформировать отчёт (квартальный, полугодовой, годовой)</a></li>

                            <li><a href="">Отчёт по главным целям программы</a></li>
                            <li><a href="">Отчёт по заданным критериям</a></li>
                            <li><a href="">Данные по промежуточным показателям</a></li>

                        </ul></div>
                </li>
            </ul>


        </md-content>





    </md-content>
</div>





</div>