<div class="row" ng-controller="DataIntermediateIndexCtrl">

    <div class="row custom__display__none">
        <div class="col-md-12">



            <md-toolbar class="md-table-toolbar md-default">


                <div class="md-toolbar-tools">


                    <h3>Матрица результатов и их мониторинга</h3>


                </div>




                <div class="md-toolbar-tools">



                    <div class="row">






                        <div class="col-md-4">

                            <select ng-model="yearname" ng-options="y._id as y.name for y in allyearname">
                            </select>

                        </div>








                        <div class="col-md-8">
                            <button class="btn btn-sm btn-primary" ng-click="generateReport()" style="margin-top: 0">Сформировать отчет</button>



                        </div>

                    </div>



                </div>

            </md-toolbar>



        </div>


    </div>



    <div class="row">
        <div class="col-md-12">




            <md-card>

                <style type="text/css">
                    .tg  {border-collapse:collapse;border-spacing:0; width: 100%}
                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                    .tg .tg-e3zv{font-weight:bold}
                    .tg .tg-hgcj{font-weight:bold;text-align:center}
                    .tg .tg-9hbo{font-weight:bold;vertical-align:top}
                    .tg .tg-yw4l{vertical-align:top}
                </style>
                <table class="tg">
                    <tr>
                        <th class="tg-hgcj" rowspan="2">Название индикатора</th>
                        <th class="tg-e3zv" rowspan="2">Исходные данные</th>
                        <th class="tg-hgcj" colspan="6">Совокупные целевые показатели</th>
                    </tr>
                    <tr>
                        <td class="tg-e3zv">Год 1</td>
                        <td class="tg-9hbo">Год 2</td>
                        <td class="tg-9hbo">Год 3</td>
                        <td class="tg-9hbo">Год 4</td>
                        <td class="tg-9hbo">Год 5</td>
                        <td class="tg-9hbo">Конечный целевой показатель</td>
                    </tr>
                    <tr>
                        <td class="tg-031e">Процент пользователей, довольных <br>климатическими информационными <br>услугами, оказанными Программой</td>
                        <td class="tg-031e"></td>
                        <td class="tg-031e"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">30%</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">60%</td>
                        <td class="tg-yw4l">60%</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Количество разработанных странами планов и<br>программ, составленных с использованием<br>климатических информационных услуг, оказанных<br>Программой, включая уроки, вынесенные в<br>результате реализации климатических инвестиций</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">3.00</td>
                        <td class="tg-yw4l">5.00</td>
                        <td class="tg-yw4l">5.00</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Сотрудничество, организованное в результате<br>финансирования инвестиций, требующих<br>совместных действий разных стран. Данное<br>сотрудничество может выражаться в<br>поддержке трансграничных географических<br>регионов или в координации между<br>странами действий по максимизации и<br>приумножению выгод с целью улучшения<br>готовности к изменениям климата в контексте<br>национальных политик</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">3.00</td>
                        <td class="tg-yw4l">3.00</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Мобилизация дополнительных<br>ресурсов для распространения<br>информации, наращивания потенциала и<br>инвестиций в региональные климатические<br>мероприятия благодаря координации между<br>странами Центральной Азии и донорским<br>сообществом, организованной Программой</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">$20 M</td>
                        <td class="tg-yw4l">$35 M</td>
                        <td class="tg-yw4l">$50 M</td>
                        <td class="tg-yw4l">$50 M</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Уровень восприятия качества (информационных<br>технологий) государственных услуг (%) со стороны<br>пользователей (в процентах) - (основной<br>показатель) </td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">42.00</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">75.00</td>
                        <td class="tg-yw4l">75.00</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Общее количество операций <br>со стороны основной государственной <br>службы,поддержанной проектом <br>(количество - подтип:дополнительный) - (основной показатель)</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">3,000.00</td>
                        <td class="tg-yw4l">3,000.00</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Прямые бенефициары проекта<br>(количество) - (основной показатель)</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">192,000</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">320,000</td>
                        <td class="tg-yw4l">320,000</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Бенефициары- женщины (количество - подтип:<br>дополнительный) - (основной показатель)</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">15%</td>
                        <td class="tg-yw4l">25%</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">40%</td>
                        <td class="tg-yw4l">40%</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Количество гектаров в зоне реализации<br>проекта, которые охвачены<br>эффективной практикой ведения<br>сельского хозяйства, управления<br>земельными и водными ресурсами,<br>подходящей для местных агроэкологических<br>условий, и которая дает возможность<br>для решения проблем, связанных с изменением<br>климата (в га)</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">39,600</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">66,000.00</td>
                        <td class="tg-yw4l">66,000.00</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Количество многострановых координационных<br>климатических сетей, поддержанных в<br>рамках программы, которые способствуют<br>межправительственному,<br>межотраслевому, меж-НПО и т.д.<br>сотрудничеству. (Количество)</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">1.00</td>
                        <td class="tg-yw4l">3.00</td>
                        <td class="tg-yw4l">4.00</td>
                        <td class="tg-yw4l">5.00</td>
                        <td class="tg-yw4l">5.00</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Более глубокое понимание гендерных<br>последствий от изменения климата<br>среди основных заинтересованных<br>сторон и осуществление основных видов<br>деятельности (количество мероприятий по<br>гендерным вопросам в совокупности)</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">1.00</td>
                        <td class="tg-yw4l">3.00</td>
                        <td class="tg-yw4l">5.00</td>
                        <td class="tg-yw4l">8.00</td>
                        <td class="tg-yw4l">10.00</td>
                        <td class="tg-yw4l">10.00</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Обратная связь/количество разрешенных жалоб<br>согласно предусмотренным стандартам<br>обслуживания и установленным сроком<br>реагирования (100%)</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">70%</td>
                        <td class="tg-yw4l">70%</td>
                        <td class="tg-yw4l">80%</td>
                        <td class="tg-yw4l">100%</td>
                        <td class="tg-yw4l">100%</td>
                    </tr>
                </table>

            </md-card>






        </div>


    </div>








</div>